/* reset begin */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display:inline;
*zoom:1;
}
body, button, input, select, textarea { font: 12px/1.5 '宋体',tahoma, Arial, 'hiragino sans gb', 'microsoft yahei', sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
a:active { background-color: transparent; }
small, cite, code, em, th, i, b { font-size: 1em; font-style: normal; font-weight: 500; }
input, select, textarea, button { font-size: 1em; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
button, input[type=button], input[type=submit] { cursor: pointer; }
button[disabled], input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner {
border:0 none;
padding:0;
}
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img, iframe { border: 0 none; }
img { display: inline-block; vertical-align: bottom; -ms-interpolation-mode: bicubic; }
iframe { display: block; }
ul, ol { list-style: none; }
li { vertical-align: top; }
q:before, q:after { content: ''; }
.clearfix:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    line-height:0;
    font-size:0;
    visibility:hidden;
}
.clearfix { zoom:1; }
/* reset end */
