body{
	background:#fff;
}
.head_wrap{ height:625px; background:#0075bc; margin-bottom:60px;}
.head{ border-bottom:1px solid rgba(255,255,255,0.3); height:83px;}
.head_con{ width:1200px; margin:0px auto; position:relative;}
.head_con .logo{ display:block; height:26px; width:202px; background:url(../images/global/logo.png) no-repeat 0 0; text-indent:-9999px; overflow:hidden; position:absolute; left:15px; top:28px;}
.menu_list{ display:block; height:83px; width:660px; position:absolute; right:0px; top:0px;}
.menu_list li{ float:left; width:132px; display:block;}
.menu_list li a{ float:left; width:132px; height:83px; line-height:83px; display:block; color:#fff; text-decoration:none; font-size:16px; font-family:'microsoft yahei'; position:relative; text-align:center;}
.menu_list li a .s_line{ display:block; height:13px; width:1px; background:rgba(255,255,255,0.3); overflow:hidden; position:absolute; left:0px; top:37px;}
.menu_list li a .c_line{ display:none; height:4px; width:80px; background:#fff; overflow:hidden; position:absolute; left:27px; top:0px;}
.menu_list li a .dot{ display:block; height:8px; width:8px; background:rgba(255,255,255,0.7); border-radius:8px; position:absolute; left:20px; top:39px;}
.menu_list li.current a,.menu_list li a:hover{ font-weight:bold;}
.menu_list li.current a .c_line{ display:block;}

.index_content{
	padding-bottom: 20px;
	width:1200px; 
	margin:0px auto;
}
.index_content_row{
	height: 208px;
}
.mod_article{
	float: left;
	width: 372px;
	padding-left: 15px;
}
.article_title{
	padding-bottom: 8px;
	font: normal 20px "microsoft yahei";
	color: #0071b9;
}
.article_con{
	line-height: 30px;
	font-size: 14px;
	color: #5e6267;
	word-break: break-all;
}
.article_con .article_link{
	color: #5e6267;
	 text-decoration:none;
}

/* video 视频区域*/
.mod_video{
	position: relative;
	float: left;
	margin-left:46px;
}
.video_show{
	width: 364px;
	height: 170px;
	overflow: hidden;
	margin-top: 7px;
}
.video_show img{ display:block; height:170px; width:364px;}

.icon_play{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -39px;
	margin-top: -39px;
	width: 78px;
	height: 78px;
	background: url(../images/index/ico_play.png) no-repeat 0 0;
	cursor: pointer;
	-webkit-transition: all .3s ease ;
	-moz-transition: all .3s ease ;
	-ms-transition: all .3s ease ;
	transition: all .3s ease ;
}
.icon_play:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
    transform: scale(1.1);
}
.index_content_row_2{
	margin-top: 35px;
	height: 220px;
	clear: both;
}
.article_title a{
	font: normal 20px "microsoft yahei";
	color: #333;
	text-decoration: none;
}
.article_title .date{
	float: right;
	margin-top: 7px;
	margin-right: 8px;
	font-size: 12px;
	color: #bababa;
	font-family:'Arial';
}
.article_con .link_area{
	display:block;
	width: 364px;
	height: 163px;
}
.article_con .cover_img{
	display:block;
	width: 364px;
	height: 163px;
}
/* 新闻列表 */
.mod_news{
	float: right;
	width: 364px;
	height: 220px;
	padding: 0 15px 0 20px;
}
.mod_news .tab_list{
	padding-top: 14px;
	text-align: right;
}
.tab_list{
	font-size: 0;
}
.tab_list .tab_item{
	display: inline-block;
	*display: inline;
	*zoom:1;
	margin-left:6px;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background-color: #c5c5c5;
	cursor: pointer;
	transition: all .4s ease-out;
}
.tab_list .current{
	width: 45px;
	background-color: #8b9297;
}
.news_list{
	display: none;
	padding-top: 7px;
}
.news_list li{
	height: 29px;
	line-height: 29px;
}
.news_list li .txt{
	float: left;
	display: block;
	width: 292px;
	font-size: 14px;
	color: #5e6267;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.news_list li a:hover{
	color: #0071b9;
}
.news_list li .date{
	float: right;
	font-size: 12px;
	color: #bababa;
	font-family:"Arial";
}

/* foot 底部 */
.footer{
	margin-top: 32px;
	width: 100%;
	background: #ecf0f1;
}
.footer_con{
	margin:0 auto;
	width: 1200px;
	min-height: 285px;
    background:url(../images/index/bg-footer8.png) no-repeat right 17px;
}
.footer_con_nav{
	height:55px;
	line-height:55px;
	color: #747b81;
	font-size: 14px;
	font-weight: normal;
	border-bottom:1px solid #fff;
}
.footer_path{
	width:1185px;
	margin:0px auto;
	padding-left:15px;
	display:block;
	height:55px;
	line-height:55px; 
	font-weight:normal;
}
.footer .footer_con_wrap{
	padding-top: 35px;
	overflow: hidden;
}
.footer .footer_con_wrap .title{
	font-size: 20px;
	font-family: "microsoft yahei";
	color: #333;
	font-weight: normal;
}
.footer .link_list{
	padding-top: 12px;
}
.footer .link_list li{
	height: 32px;
	line-height: 32px;
}
.footer .link_list li a{
	font-size: 14px;
	color: #747b81;
	text-decoration: none;
	transition: color .4s;
}
.footer .link_list li a:hover{
	color: #333;
}
.footer_more,.footer_attention,.footer_joinus,.footer_contact{
	float: left;
	min-height: 130px;
	padding-bottom: 24px;
	padding-left:15px;
}
.footer_more{
	width: 135px;
}
.footer_attention{
	width: 147px;
	padding-left: 35px;
}
.footer_joinus{
	width: 126px;
	padding-left: 44px;
}
.footer_contact{
	width: 132px;
	padding-left: 47px;
	border-right: none;
}
.footer_copyright{
	padding-top: 18px;
	font-family: Arial;
	font-size: 14px;
	color: #747b81;
}
.footer_copyright em{
	margin-left: 28px;
}
.ico_online,.ico_pub,.ico_wx,.ico_wb,.ico_sina{
	display: inline-block;
	*display: inline;
	*zoom:1;
	margin-right: 6px;
	width: 28px;
	height: 28px;
	vertical-align: middle;
	background-image: url(../images/index/ico-foot-i8.png);
	background-repeat: no-repeat;
	margin-top:-2px;
	margin-left:-2px;
}
.ico_online{
	background-position: 0px 0px;
}
.ico_pub{
	background-position: 0px -33px;
}
.ico_wx{
	background-position: 0px -66px;
}
.ico_wb{
	background-position: 0px -99px;
}
.ico_sina{
	background-position: 0px -132px;
}
#totop{
	display: none;
	position: fixed;
	right: 50%;
	bottom: 100px;
	width: 0;
	height: 0;
	cursor: pointer;
}
#totop a{
	float: right;
	display: block;
	margin-right: -690px;
	width: 50px;
	height: 50px;
	background: url(../images/index/ico-totop.png) no-repeat 0 0;
	transition: all .3s ease;
}
#totop a:hover{
	background: url(../images/index/ico-totop.png) no-repeat 0 -50px;
	
}

.head{ position:absolute; left:0px; width:100%; z-index:2;}
.banner_wrap{ display:block; height:625px; position:relative;}
.banner_wrap .tab_list{ text-align:center; position:absolute; bottom:30px; left:0px; width:100%;}
.banner_wrap .tab_list .tab_item{ background:rgba(255,255,255,0.3);}
.banner_wrap .tab_list .current{ background:#fff;}
.banner_area{ width:100%; padding-top:84px;}
.banner{ width:1200px; margin:0px auto; position:relative; height:540px;}

.banner_txt{ display:block; height:100%; width:100%; position:absolute; left:0px; top:0px; z-index:2; pointer-events:none;}
.banner_txt .title{ display:block; height:57px; width:418px; background:url(../images/index/banner_txt.png) no-repeat 0 0; position:absolute; left:50%; top:190px; margin-left:-209px; text-indent:-9999px; overflow:hidden;}
.banner_txt .sub_title{ display:block; height:34px; width:638px; background:url(../images/index/banner_subtitle.png) no-repeat 0 0; position:absolute; left:50%; top:278px; margin-left:-319px; text-indent:-9999px; overflow:hidden;}

.icon_wrap{ display:block; width:1200px; margin:0px auto; position:relative; height:540px; z-index:1; overflow:hidden;}
/*.icon_area{ display:block; height:32px; width:32px;  position:absolute; left:146px; top:200px; -webkit-animation:a_icon_area_1 5s linear infinite;}
.icon_area span.icon_1{ position:absolute; left:0; top:0px; display:block; height:32px; width:32px;}
.icon_area span.icon_1 .txt{ color:#80add5; font-family:'microsoft yahei'; font-size:14px; position:absolute; width:50px;}
.icon_area span.icon_1 .txt_1{ left:14px; top:38px;}

.icon_area span.icon_2{ position:absolute; left:-55px; top:230px; display:block; height:20px; width:20px;}
.icon_area span.icon_2 .txt_2{ left:10px; top:25px;}

.icon_area span.icon_3{ position:absolute; left:-130px; top:75px; display:block; height:13px; width:13px;}
.icon_area span.icon_4{ position:absolute; left:47px; top:-93px; display:block; height:19px; width:19px;}
.icon_area span.icon_5{ position:absolute; left:176px; top:121px; display:block; height:19px; width:19px;}

.icon_area i.icon_1{ position:absolute; left:0; top:0; display:block; height:32px; width:32px; background:url(../images/index/icon/icon_1.png) no-repeat 0 0; z-index:1;}
.icon_area i.icon_2{ position:absolute; left:0; top:0; display:block; height:20px; width:20px; background:url(../images/index/icon/icon_2.png) no-repeat 0 0; z-index:1;}
.icon_area i.icon_3{ position:absolute; left:0; top:0; display:block; height:13px; width:13px; background:url(../images/index/icon/icon_3.png) no-repeat 0 0; z-index:1;}
.icon_area i.icon_4{ position:absolute; left:0; top:0; display:block; height:19px; width:19px; background:url(../images/index/icon/icon_4.png) no-repeat 0 0; z-index:1;}
.icon_area i.icon_5{ position:absolute; left:0; top:0; display:block; height:19px; width:19px; background:url(../images/index/icon/icon_5.png) no-repeat 0 0; z-index:1;}

.line{ display:block; height:1px; background:#80bade; overflow:hidden; position:absolute;}
.line_1{ left:11px; top:10px; -webkit-transform:rotate(-75deg); width:220px; -webkit-transform-origin:0% 50%;}
.line_2{ left:10px; top:5px; -webkit-transform:rotate(-26deg); width:160px; -webkit-transform-origin:0% 50%;}
.line_3{ left:11px; top:8px; -webkit-transform:rotate(112deg); width:100px; -webkit-transform-origin:0% 50%;}
.line_4{ left:9px; top:8px; -webkit-transform:rotate(-146deg); width:210px; -webkit-transform-origin:0% 50%;}

@-webkit-keyframes a_icon_area_1{
	0%{ -webkit-transform:translate(0,0);}
	25%{ -webkit-transform:translate(5px,2px);}
	50%{ -webkit-transform:translate(-3px,-1px);}
	75%{ -webkit-transform:translate(2px,5px);}
	100%{ -webkit-transform:translate(0,0);}
}*/

.icon_area{ display:block; height:32px; width:32px;  position:absolute; left:146px; top:200px; -moz-transition:left 0.5s linear,top 0.5s linear; -webkit-transition:left 0.5s linear,top 0.5s linear; transition:left 0.5s linear,top 0.5s linear;}
.icon_area span.icon{ -webkit-transition:height 0.25s linear,width 0.25s linear,opacity 0.25s linear; -moz-transition:height 0.25s linear,width 0.25s linear,opacity 0.25s linear; transition:height 0.25s linear,width 0.25s linear,opacity 0.25s linear;}
.icon_area span.icon_1{ position:absolute; left:0; top:0px; display:block; height:32px; width:32px;}
.icon_area span.icon_1 .txt{ color:#80add5; font-family:'microsoft yahei'; font-size:14px; position:absolute; width:50px;}
.icon_area span.icon_1 .txt_1{ left:14px; top:38px;}

.icon_area span.icon_2{ position:absolute; right:16px; top:16px; display:block; height:185px; width:70px; background:url(../images/index/icon_line.png) no-repeat 0 0; background-size:100% 100%;/* -webkit-animation:a_icon_area_1 2.5s linear infinite;*/ -webkit-transform-origin:100% 0%;}
.icon_area span.icon_2 .txt_2{ left:0px; bottom:-35px;}

.icon_area span.icon_3{ position:absolute; right:16px; top:16px; display:block; height:66px; width:140px; background:url(../images/index/icon_line.png) no-repeat 0 0; background-size:100% 100%; /*-webkit-animation:a_icon_area_2 3.5s linear infinite;*/ -webkit-transform-origin:100% 0%;}
.icon_area span.icon_4{ position:absolute; left:16px; bottom:16px; display:block; height:100px; width:40px; background:url(../images/index/icon_line.png) no-repeat 0 0; background-size:100% 100%;}
.icon_area span.icon_5{ position:absolute; left:16px; top:16px; display:block; height:30px; width:180px; background:url(../images/index/icon_line_2.png) no-repeat 0 0; background-size:100% 100%;}

.icon_area i.icon_1{ position:absolute; left:0; top:0; display:block; height:32px; width:32px; background:url(../images/index/icon/icon_1.png) no-repeat 0 0; z-index:2;}
.icon_area i.icon_2{ position:absolute; left:-10px; bottom:-10px; display:block; height:20px; width:20px; background:url(../images/index/icon/icon_2.png) no-repeat 0 0; z-index:1;}
.icon_area i.icon_3{ position:absolute; left:-6px; bottom:-6px; display:block; height:13px; width:13px; background:url(../images/index/icon/icon_3.png) no-repeat 0 0; z-index:1;}
.icon_area i.icon_4{ position:absolute; right:-10px; top:-10px; display:block; height:19px; width:19px; background:url(../images/index/icon/icon_4.png) no-repeat 0 0; z-index:1;}
.icon_area i.icon_5{ position:absolute; right:-10px; bottom:-10px; display:block; height:19px; width:19px; background:url(../images/index/icon/icon_5.png) no-repeat 0 0; z-index:1;}

@-webkit-keyframes a_icon_area{
	0%{ -webkit-transform:translate(0,0);}
	25%{ -webkit-transform:translate(2px,1px);}
	50%{ -webkit-transform:translate(-1px,-1px);}
	75%{ -webkit-transform:translate(1px,2px);}
	100%{ -webkit-transform:translate(0,0);}
}

@-webkit-keyframes a_icon_area_1{
	0%{height:235px; width:70px;}
	25%{ height:230px; width:70px;}
	50%{ height:235px; width:70px;}
	75%{ height:240px; width:70px;}
	100%{ height:235px; width:70px;}
}

@-webkit-keyframes a_icon_area_2{
	0%{ height:66px; width:140px;}
	25%{  height:61px; width:145px;}
	50%{ height:66px; width:140px;}
	75%{ height:70px; width:135px;}
	100%{ height:66px; width:140px;}
}


.icon_area_2{ display:block; position:absolute; left:1040px; top:160px; height:17px; width:17px;}
.icon_area_3{ display:block; position:absolute; left:980px; top:370px; height:25px; width:25px;}

.icon_area span.icon_11{ position:absolute; left:0; top:0px; display:block; height:17px; width:17px;}
.icon_area span.icon_11 .txt{ color:#80add5; font-family:'microsoft yahei'; font-size:14px; position:absolute; width:50px;}
.icon_area span.icon_11 .txt_11{ left:12px; top:20px;}

.icon_area span.icon_12{ position:absolute; right:8px; bottom:8px; display:block; height:115px; width:70px; background:url(../images/index/icon_line_2.png) no-repeat 0 0; background-size:100% 100%;/* -webkit-animation:a_icon_area_1 2.5s linear infinite;*/ -webkit-transform-origin:100% 0%;}
.icon_area span.icon_12 .txt_12{ left:0px; bottom:-35px;}

.icon_area span.icon_13{ position:absolute; right:8px; top:8px; display:block; height:80px; width:46px; background:url(../images/index/icon_line.png) no-repeat 0 0; background-size:100% 100%; /*-webkit-animation:a_icon_area_2 3.5s linear infinite;*/ -webkit-transform-origin:100% 0%;}
.icon_area span.icon_14{ position:absolute; left:8px; bottom:8px; display:block; height:100px; width:40px; background:url(../images/index/icon_line.png) no-repeat 0 0; background-size:100% 100%;}
.icon_area span.icon_15{ position:absolute; left:8px; top:8px; display:block; height:40px; width:80px; background:url(../images/index/icon_line_2.png) no-repeat 0 0; background-size:100% 100%;}


.icon_area i.icon_11{ position:absolute; left:0; top:0; display:block; height:17px; width:17px; background:url(../images/index/icon/icon_9.png) no-repeat 0 0; z-index:2;}
.icon_area i.icon_12{ position:absolute; left:-4px; top:-4px; display:block; height:8px; width:8px; background:#eefcff; z-index:1; border-radius:8px;}
.icon_area i.icon_13{ position:absolute; left:-8px; bottom:-8px; display:block; height:13px; width:13px; background:url(../images/index/icon/icon_3.png) no-repeat 0 0; z-index:1;}
.icon_area i.icon_14{ position:absolute; right:-8px; top:-8px; display:block; height:16px; width:16px; background:url(../images/index/icon/icon_10.png) no-repeat 0 0; z-index:1;}
.icon_area i.icon_15{ position:absolute; right:-6px; bottom:-6px; display:block; height:13px; width:13px; background:url(../images/index/icon/icon_5.png) no-repeat 0 0; z-index:1; background-size:contain;}



.icon_area span.icon_21{ position:absolute; left:0; top:0px; display:block; height:25px; width:25px;}
.icon_area span.icon_21 .txt{ color:#80add5; font-family:'microsoft yahei'; font-size:14px; position:absolute; width:50px;}
.icon_area span.icon_21 .txt_21{ left:14px; top:28px;}

.icon_area span.icon_22{ position:absolute; left:12px; top:12px; display:block; height:85px; width:40px; background:url(../images/index/icon_line_2.png) no-repeat 0 0; background-size:100% 100%;/* -webkit-animation:a_icon_area_1 2.5s linear infinite;*/ -webkit-transform-origin:100% 0%;}
.icon_area span.icon_22 .txt_22{ left:0px; bottom:-35px;}

.icon_area span.icon_23{ position:absolute; right:12px; top:12px; display:block; height:66px; width:140px; background:url(../images/index/icon_line.png) no-repeat 0 0; background-size:100% 100%; /*-webkit-animation:a_icon_area_2 3.5s linear infinite;*/ -webkit-transform-origin:100% 0%;}
.icon_area span.icon_24{ position:absolute; left:12px; bottom:12px; display:block; height:100px; width:40px; background:url(../images/index/icon_line.png) no-repeat 0 0; background-size:100% 100%;}

.icon_area i.icon_21{ position:absolute; left:0; top:0; display:block; height:25px; width:25px; background:url(../images/index/icon/icon_6.png) no-repeat 0 0; z-index:2;}
.icon_area i.icon_22{ position:absolute; right:-10px; bottom:-10px; display:block; height:19px; width:19px; background:url(../images/index/icon/icon_5.png) no-repeat 0 0; z-index:1;}
.icon_area i.icon_23{ position:absolute; left:-7px; bottom:-7px; display:block; height:15px; width:15px; background:url(../images/index/icon/icon_8.png) no-repeat 0 0; z-index:1;}
.icon_area i.icon_24{ position:absolute; right:-6px; top:-6px; display:block; height:13px; width:13px; background:#8bd19b; border-radius:13px; z-index:1;}








