@charset "utf-8";

*{ margin:0px; padding:0px;}
.scan_wrap{ display:block; height:149px; width:155px; position: relative; background:#b72928;}
.scan_wrap .circle_box{ display:block; height:140px; width:140px; border-radius:70px; overflow:hidden; background:#ff8800; margin-left:9px; position:relative; z-index:1;}
.scan_wrap .flag_box{ display:block; height:39px; width:155px; background: url(../img/sprite_bg.png) no-repeat 0 0; position:absolute; left:0px; top:110px; z-index:3;}
.scan_wrap .flag_box .flag_name{ display:none;}
.hand{ display:block; height:105px; width:117px; background:url(../img/sprite_bg.png) no-repeat 0 -44px; position:absolute; left:0px; top:23px;}
.hand .hand_1{ display:block; height:49px; width:10px; background:url(../img/sprite_bg.png) no-repeat -140px -44px; position:absolute; left:51px; top:16px; z-index:2; overflow:hidden;}
.hand .hand_2{ display:block; height:44px; width:13px;  background:url(../img/sprite_bg.png) no-repeat -122px -46px; position:absolute; left:75px; top:21px; z-index:2; overflow:hidden;}
.hand .scan_line{ display:block; height:1px; width:35px; background:-moz-linear-gradient(left,rgba(180,245,105,0) 0%,rgba(180,245,105,1) 40%,rgba(180,245,105,1) 60%,rgba(180,245,105,0) 100%); position:absolute; left:52px; top:7px; box-shadow:0 0 3px rgba(180,245,105,1),0 0 1px rgba(180,245,105,0.6); opacity:0;}
.scan_wrap:hover .hand,.hover .hand{-moz-animation:a_hand 2s linear infinite;}
.scan_wrap:hover .scan_line,.hover .scan_line{ -moz-animation:a_scanline 2.5s linear infinite;}


@-moz-keyframes a_hand{
	0%{-moz-transform: translate(0,0);}
	12.5%{-moz-transform: translate(2px,1px);}
	25%{-moz-transform: translate(5px,4px);}
	37.5%{-moz-transform: translate(2px,7px);}
	50%{-moz-transform: translate(0px,8px);}
	62.5%{-moz-transform: translate(-2px,7px);}
	75%{-moz-transform: translate(-5px,4px);}
	87.5%{-moz-transform: translate(-2px,1px);}
	100%{-moz-transform: translate(0,0);}
}

@-moz-keyframes a_scanline{
	0%{-moz-transform: translate(0,0); opacity:0;}
	5%{-moz-transform: translate(0,0); opacity:1;}
	95%{-moz-transform: translate(0,55px); opacity:1;}
	100%{-moz-transform: translate(0,55px); opacity:0;}
}

/*webkit*/
.hand .scan_line{background:-webkit-linear-gradient(left,rgba(180,245,105,0) 0%,rgba(180,245,105,1) 40%,rgba(180,245,105,1) 60%,rgba(180,245,105,0) 100%);}
.scan_wrap:hover .hand,.hover .hand{-webkit-animation:a_hand 2s linear infinite;}
.scan_wrap:hover .scan_line,.hover .scan_line{ -webkit-animation:a_scanline 2.5s linear infinite;}

@-webkit-keyframes a_hand1{
	0%{-webkit-transform: translate(0,0);}
	12.5%{-webkit-transform: translate(2px,1px);}
	25%{-webkit-transform: translate(5px,4px);}
	37.5%{-webkit-transform: translate(2px,7px);}
	50%{-webkit-transform: translate(0px,8px);}
	62.5%{-webkit-transform: translate(-2px,7px);}
	75%{-webkit-transform: translate(-5px,4px);}
	87.5%{-webkit-transform: translate(-2px,1px);}
	100%{-webkit-transform: translate(0,0);}
}

@-webkit-keyframes a_hand{
	0%{left:0px; top:23px;}
	12.5%{left:2px; top:24px;}
	25%{left:5px; top:27px;}
	37.5%{left:2px; top:30px;}
	50%{left:0px; top:31px;}
	62.5%{left:-2px; top:30px;}
	75%{left:-5px; top:27px;}
	87.5%{left:-2px; top:24px;}
	100%{left:0px; top:23px;}
}

@-webkit-keyframes a_scanline{
	0%{-webkit-transform: translate(0,0); opacity:0;}
	5%{-webkit-transform: translate(0,0); opacity:1;}
	95%{-webkit-transform: translate(0,55px); opacity:1;}
	100%{-webkit-transform: translate(0,55px); opacity:0;}
}

/*IE兼容*/
.scan_wrap{ background:#b72928 url(../img/sprite_scan_ie.png) no-repeat 0 0\9;}
.scan_wrap .circle_box{ display:none\9;}
.scan_wrap .flag_box{ display:none\9;}