@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px;}
body{ font-size:12px;}
ul,ol,li{ list-style:none;}
.snowBox{ height:500px; width:1250px;  overflow:hidden; border:1px solid #000; position:relative;}
.snowBox i{ display:block; font-style:normal; position:absolute;}





































































