@charset "utf-8";
*{ margin:0px; padding:0px;}
body{ background:#f3f3f3;}

.mod_iframe{margin:20px 20px 60px; position:relative; overflow:hidden;}
.mod_iframe .title{ font-family:"microsoft yahei"; font-size:22px; font-weight:normal; margin-bottom:10px; letter-spacing:1px;}
.iframe{ display:block; height:250px; width:100%; border:3px solid #666; overflow-y: hidden;}
.mod_iframe .mark{ display:block; height:256px; width:100%; background:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,1) 80%); background:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,1) 80%); opacity:0.8; position:absolute; left:0px; bottom:0px; -moz-transition:-moz-transform 0.5s ease,opacity 0.5s ease; -webkit-transition:-webkit-transform 0.5s ease,opacity 0.5s ease;}
.mod_iframe:hover .mark{-moz-transform:translate(0,300px); -webkit-transform:translate(0,300px); opacity:0;}















































































































