@charset "utf-8";

/* 浏览器样式清除 reset */
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
body, button, input, select, textarea{ font:12px/1.5 Tahoma,Arial,'宋体'; }
fieldset,img{border:0;}
ul,li{list-style:none;}
em,i{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
a:hover{ text-decoration:underline;}
a:focus,input,button,select,textarea{outline:none; font-size:100%;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-variant: normal;}
input,select,img{ vertical-align:middle;}
legend{ display:none;}
textarea{resize:none;}
button {cursor:pointer;}

html,body{ height:100%; width:100%; position: relative; overflow-x:hidden;}

/*社招首页*/

.banner_wrap{ display:block; height:175px; width:100%; background:url(../images/global/banner_bg.png) repeat right top; background-size:10px 10px; margin-bottom:35px;}
.banner_wrap .penguin_bg{ display:block; height:175px; width:150px; background:url(../images/index/banner_penguin.png) no-repeat 0 0; background-size:contain; position:absolute; right:0; top:0px;}
.banner_wrap .title{ display:block; height:49px; width:142px; background:url(../images/index/banner_title.png) no-repeat 0 0; background-size:contain; position:absolute; left:22px; top:59px; text-indent:-9999px; overflow:hidden;}
.banner_wrap .title_en{ display:none;}

.search_wrap{width:290px; margin:0 auto 35px; position:relative;}
.search_wrap .ipt_area{ display:block; width:100%; height:45px; border:1px solid #1b4e9a; border-radius:3px;}
.search_wrap .ipt_area .ipt_job{display:block; width:230px; padding-left:14px; padding-right:11px; height:45px; line-height:45px; font-size:16px; font-family:'microsoft yahei'; color:#bfbfbf; border:none;}
.search_wrap .ipt_area .ipt_job:focus{ color:#6f6f6f;}
.search_wrap .btn_search{ display:block; height:45px; width:50px; background:#2a5eab; position:absolute; right:-1px; top:1px; text-indent:-9999px; overflow:hidden;}
.search_wrap .btn_search .icon_search{ display:block; height:20px; width:21px; background:url(../images/global/icon_search.png) no-repeat 0 0; background-size:contain; position:absolute; left:15px; top:12px; pointer-events:none;}

.job_classify_wrap{ margin:0 auto 35px; width:290px; overflow:hidden;}
.job_classify_list{ width:320px; float:left;}
.job_classify_list li{ float:left; display:inline;}
.job_classify_list li a{ display:block; margin-right:14px; margin-bottom:14px; width:85px; height:45px; line-height:45px; border:1px solid #d5d5d5; border-radius:3px; text-align:center; font-size:16px; font-family:'microsoft yahei'; color:#6f6f6f;}
.job_classify_list li a:hover{ text-decoration:none;}
.job_classify_list li a:active{ border-color:#1b4e9a; color:#1b4e9a; background:#fff;}

/*社招首页*/

/*校园招聘页*/

.campus_bg{ display:block; height:100%; width:100%; background:url(../images/campus_index/campus_recruitment_bg.jpg) no-repeat center top; background-size: cover; position:absolute; left:0px; top:0px;}
.campus_slogan_wrap{ display:block; height:77px; width:100%; background:url(../images/global/banner_bg.png) repeat 0 0; background-size:10px 10px; position:absolute; left:0px; bottom:0px;}
.campus_slogan_wrap .txt{ display:block; height:21px; width:177px; background:url(../images/campus_index/campus_recruitment_title.png) repeat 0 0; background-size: contain; position:absolute; left:50%; margin-left:-89px; top:28px; text-indent:-9999px; overflow:hidden;}

/*校园招聘页*/

/*岗位详情页*/

.job_title_wrap{ display:block; width:100%; border-bottom:1px solid #bdbdbd; padding:20px 15px 17px;}
.job_title_wrap .title{ font-size:16px; font-family:'microsoft yahei'; color:#595959; margin-bottom:2px;}
.job_title_wrap .number{ color:#bfbfbf;  font-family:'microsoft yahei'; font-size:14px;}
.job_title_wrap .date{ color:#bfbfbf;  font-family:'Arial'; font-size:14px; position:absolute; right:15px; top:45px;}

.job_detail_con{ padding:20px 15px;}
.job_detail_con .title{font-size:16px; font-family:'microsoft yahei'; color:#595959; margin-bottom:3px;}
.job_detail_con .detail_list{font-size:14px; font-family:'microsoft yahei'; color:#595959; margin-bottom:30px; margin-left:17px;}
.job_detail_con .detail_list li{ list-style:disc; padding-left:0px; margin-bottom:3px;}

.btn_fixed_wrap{ display:block; width:100%; height:65px; background:#ebebeb; border-top:1px solid #bdbdbd; position:fixed; bottom:0px; left:0px; text-align:center;}
.btn_fixed_wrap .btn{ display: inline-block; margin-top:9px; height:45px; line-height:45px; width:188px; background:#2a5eab; border:1px solid #1b4e9a; text-align:center; font-size:16px; font-family:'microsoft yahei'; color:#fff; border-radius:3px; }
.btn_fixed_wrap .btn:hover{ text-decoration: none;}
.btn_fixed_wrap .btn:active{ position:relative; top:1px;}

/*岗位详情页*/

/*岗位列表页*/

.search_addition_wrap{ display:block; width:100%; height:49px; background:rgba(235,235,235,0.95); padding:15px 0; border-bottom:1px solid #bdbdbd; position:fixed; z-index:2; left:0px; top:0px;}
.search_address .ipt_area .ipt_job{ width:190px;}
.search_address .sel_search{ display:block; height:45px; width:75px; background:#2a5eab; position:absolute; right:-1px; top:1px; overflow:hidden;}
.search_address .sel_key{ font-size:16px; font-family:'microsoft yahei'; color:#fff; position:absolute; left:14px; top:10px;}
.search_address .icon_arrow{ display:block; height:7px; width:13px; background:url(../images/global/search_arrow.png) no-repeat 0 0; background-size:contain; position:absolute; right:10px; top:20px;}
.search_wrap .key_list{ display:block; width:75px; border:1px solid #d5d5d5; position:absolute; right:-2px; top:47px;}
.search_wrap .key_list li a{ display:block; height:36px; line-height:36px; text-align:center; font-size:16px; font-family:'microsoft yahei'; width:100%; border-bottom:1px solid #d5d5d5; color:#5a5a5a; background:rgba(255,255,255,0.95);}
.search_wrap .key_list li.last a{ border:none;}
.search_addition_floating{ box-shadow:0px 1px 3px rgba(0,0,0,0.15);}

.job_list{ padding-top:80px;}
.job_list li a{ display:block; height:72px; padding:0 15px; border-bottom:1px solid #bdbdbd; color:#bfbfbf; position:relative;}
.job_list li a .tit{ font-size:16px; font-family:'microsoft yahei'; color:#595959; width:85%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding-top:14px;}
.job_list li a .job_require{ font-size:14px; font-family:'microsoft yahei';}
.job_list li a .date{ font-size:14px; font-family:'Arial'; position:absolute; right:15px; top:17px;}
.job_list li a:hover{ text-decoration:none;}

/*岗位列表页*/

/*岗位结果为空*/
.no_result_wrap{ margin-top:79px; padding-top:1px;}
.no_result_penguin{ display:block; height:73px; width:79px; background:url(../images/details/no_result_bg.jpg) no-repeat 0 0; background-size:contain; margin:50px auto 20px; position:relative;}
.no_result_penguin .eye_area{ display:block; height:10px; width:10px; position:absolute; left:11px; top:17px;}
.no_result_penguin .eye_area .spot{ display:block; height:3px; width:3px; background:#fff; position:absolute; left:5px; top:2px; border-radius:3px;}
.no_result_penguin .eye_area .spot_2{left:1px; top:5px;}
.no_result_penguin .eye_area_2{ left:47px;}
.no_result_penguin .eye_area_2 .spot_1{ left:1px; top:2px;}
.no_result_penguin .eye_area_2 .spot_2{ left:5px; top:5px;}

.no_result_penguin .dialog_sorry{ display:block; height:43px; width:48px; background:url(../images/details/no_result_dialog.png) no-repeat 0 0; background-size:contain; position:absolute; left:55px; top:-27px; text-indent:-9999px; overflow:hidden; -webkit-transform-origin:20% 100%;}

.animation_play .eye_area .spot{ -webkit-animation:a_no_result_spot 1s linear infinite;}
.animation_play .eye_area .spot_2{ -webkit-animation:a_no_result_spot_2 1s linear infinite;}
.animation_play .eye_area_2 .spot_1{ -webkit-animation:a_no_result_spot_2_1 1s linear infinite;}
.animation_play .dialog_sorry{ -webkit-animation:a_no_result_dialog_sorry 1.5s linear infinite;}

@-webkit-keyframes a_no_result_spot{
	0%{ -webkit-transform:translate(0,0) scale(1);}
	50%{ -webkit-transform:translate(1px,1px) scale(1.25);}
	100%{ -webkit-transform:translate(0,0) scale(1);}
}

@-webkit-keyframes a_no_result_spot_2{
	0%{ -webkit-transform:translate(0,0) scale(1);}
	50%{ -webkit-transform:translate(0px,-1px) scale(1.4);}
	100%{ -webkit-transform:translate(0,0) scale(1);}
}

@-webkit-keyframes a_no_result_spot_2_1{
	0%{ -webkit-transform:translate(0,0) scale(1);}
	50%{ -webkit-transform:translate(-1px,1px) scale(1.25);}
	100%{ -webkit-transform:translate(0,0) scale(1);}
}

@-webkit-keyframes a_no_result_dialog_sorry{
	0%{ -webkit-transform: rotate(0deg);}
	50%{ -webkit-transform: rotate(8deg);}
	100%{ -webkit-transform: rotate(0deg);}
}

.no_result_tips .txt{ font-size:16px; font-family:'microsoft yahei'; color:#c0c0c0; text-align:center;}


/*岗位结果为空*/

/*创建简历*/

.create_procedure_wrap{ width:100%; height:94px; border-bottom:1px solid #bdbdbd; position:relative;}
.procedure_area{ width:33%; float:left; text-align:center; position:relative; z-index:2;}
.procedure_area .num{ display:inline-block; height:23px; width:23px; background:#ebebeb; text-align:center; line-height:23px; border-radius:23px; color:#cbcbcb; font-size:14px; font-family:'Arial'; margin-top:25px; margin-bottom:3px; position:relative;}
.procedure_area .txt{ color:#bfbfbf; font-size:14px; font-family:'microsoft yahei';}
.procedure_area .light{ display:block; height:23px; width:23px; background:#42bd12; border-radius:23px; position:absolute; left:0px; top:0px; opacity:0;}
.procedure_already .num{ background:#42bd12; color:#fff;}
.procedure_already .txt{ color:#6f6f6f;}
.procedure_already .light{ -webkit-animation:a_light 0.3s linear;}

@-webkit-keyframes a_light{
	0%{ opacity:0; -webkit-transform:scale(1);}
	50%{opacity:0.3; -webkit-transform:scale(1.4);}
	100%{ opacity:0; -webkit-transform:scale(1.8);}
}

.progress_wrap{ display:block; width:66%; height:3px; background:#ebebeb; position:absolute; left:50%; margin-left:-33%; top:35px; position:relative; z-index:1;}
.progress_wrap .progress_bar{ display:block; width:100%; height:3px; background:#42bd12; -webkit-transition:width 0.3s linear;}

.basic_info_wrap .title{ display:block; height:38px; line-height:38px; width:100%; background:#ebebeb; border-bottom:1px solid #bdbdbd; font-size:16px; font-family:'microsoft yahei'; padding-left:10px; color:#6f6f6f;}
.info_list{ padding-left:10px;}
.info_list li{ height:48px; border-bottom:1px solid #bdbdbd;}
.info_list li.last{border: none;}
.info_list li .ipt{ height:48px; line-height:48px; font-size:16px; font-family:'microsoft yahei'; border:none; width:70%; padding:0px 10px; color:#cdcdcd;}
.info_list li .ipt:focus{ color:#6f6f6f;}
.info_list .icon{ display:inline-block; vertical-align:middle; height:16px; width:16px; background:url(../images/user_center/icon_name.png) no-repeat 0 0; background-size:contain;}
.info_list .icon_name{ background-image:url(../images/user_center/icon_name.png);}
.info_list .icon_phone{ background-image:url(../images/user_center/icon_phone.png);}
.info_list .icon_mail{ background-image:url(../images/user_center/icon_mail.png);}
.info_list .icon_company{ background-image:url(../images/user_center/icon_company.png);}
.info_list .icon_position{ background-image:url(../images/user_center/icon_position.png);}
.info_list .label_txt{ display:inline-block; vertical-align:middle; font-size:16px; font-family:'microsoft yahei';}

.s_area{ display:block; height:19px; width:100%; background:#ebebeb; border-top:1px solid #bdbdbd; border-bottom:1px solid #bdbdbd;}

.notice_wrap{ display:block; height:44px; margin-bottom:65px; padding:10px 0px 10px 10px; font-size:14px; font-family:'microsoft yahei'; color:#cdcdcd;}

/*创建简历*/












/*pc test hook*/

.hook_down{ display:block; height:40px; width:40px; background:rgba(255,0,0,0.5); position:absolute; left:50%; bottom:0px; z-index:9; text-indent:-9999px; overflow:hidden; margin-left:-20px;}
.hook_up{ display:block; height:40px; width:40px; background:rgba(255,0,0,0.5); position:absolute; left:50%; top:0px; z-index:9; text-indent:-9999px; overflow:hidden; margin-left:-20px;}
.hook_left{ display:block; height:40px; width:40px; background:rgba(255,0,0,0.5); position:absolute; left:0px; top:50%; z-index:9; text-indent:-9999px; overflow:hidden; margin-top:-20px;}
.hook_right{ display:block; height:40px; width:40px; background:rgba(255,0,0,0.5); position:absolute; right:0px; top:50%; z-index:9; text-indent:-9999px; overflow:hidden; margin-top:-20px;}





































































































