@charset "utf-8";

/* 浏览器样式清除 reset */
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
body, button, input, select, textarea{ font:12px/1.5 Tahoma,Arial,'宋体'; }
fieldset,img{border:0;}
ul,li{list-style:none;}
em,i{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
a:hover{ text-decoration:underline;}
a:focus,input,button,select,textarea{outline:none; font-size:100%;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-variant: normal;}
input,select,img{ vertical-align:middle;}
legend{ display:none;}
textarea{resize:none;}
button {cursor:pointer;}

html,body{ height:100%; width:100%; overflow:hidden;}
body{ background:#162632; line-height:1.5;}

/*style*/
.star_wrap{ width:100%; position:absolute; left:0px; top:0px; z-index:1;}
.cover_wrap{ display:block; width:100%; height:100%; height:416px; background-size:320px 416px;}

.link_next{ display:block; height:24px; width:24px; position:absolute; left:50%; bottom:10px; margin-left:-12px; background:rgba(160,160,160,0.3); border-radius:24px; z-index:2;}
.link_next .inner{ display:block; height:24px; width:24px; border-radius:24px; position:absolute; left:0px; top:0px; background:rgba(160,160,160,0.3); opacity:0.6; -webkit-animation:a_link_next 1s linear infinite;}
.link_next .arrow{ display:block; height:10px; width:16px; background:url(../images/arrow.png) no-repeat 0 0; background-size:contain; position:absolute; left:4px; top:6px;  }

@-webkit-keyframes a_link_next{
	0%{ opacity:0.6; -webkit-transform:scale(1);}
	100%{ opacity:0; -webkit-transform:scale(2);}
}

.star_area{ display:block; height:100%; width:100%; position:absolute; left:0px; top:0px;}
.star_area .star{ display:block; height:10px; width:10px; border-radius:10px; background:#fff; box-shadow:0px 0px 3px rgba(255,255,255,0.5); position:absolute; left:0px; top:0px;}
.star_area .star_2{ height:5px; width:5px; border-radius:5px; left:100px; top:50px;}
.star_area .star_3{ height:3px; width:3px; border-radius:3px; left:30px; top:230px;}

.logo_wrap .title{ display:none;}
.logo_wrap .logo_txt_wrap{ width:240px; height:90px; display:block; position:absolute; left:50%; top:68px; margin-left:-120px;}
.logo_txt_wrap .txt_1{ display:block; height:38px; width:199px; background:url(../images/cover_txt_1.png) no-repeat 0 0; background-size:contain; position:absolute; left:40px; top:0px; -webkit-transform: scale(3.5); opacity:0; -webkit-animation:a_txt_1 0.2s linear both;}
.logo_txt_wrap .txt_2{ display:block; height:38px; width:36px; background:url(../images/cover_txt_2.png) no-repeat 0 0; background-size:contain; position:absolute; left:40px; top:49px; -webkit-transform: scale(3.5); opacity:0; -webkit-animation:a_txt_1 0.2s 0.15s linear both;}
.logo_txt_wrap .txt_3{ display:block; height:38px; width:43px; background:url(../images/cover_txt_3.png) no-repeat 0 0; background-size:contain; position:absolute; left:76px; top:49px; -webkit-transform: scale(0.1); opacity:0;-webkit-animation:a_txt_1 0.2s 0.35s linear both;}
.logo_txt_wrap .txt_4{ display:block; height:51px; width:42px; background:url(../images/cover_txt_4.png) no-repeat 0 0; background-size:contain; position:absolute; left:25px; top:-20px;}
.logo_txt_wrap .txt_5{ display:block; height:42px; width:42px; background:url(../images/cover_txt_5.png) no-repeat 0 0; background-size:contain; position:absolute; left:119px; top:49px; -webkit-transform: scale(0.1); opacity:0;-webkit-animation:a_txt_1 0.2s 0.55s linear both;}
.logo_txt_wrap .txt_6{ display:block; height:40px; width:41px; background:url(../images/cover_txt_6.png) no-repeat 0 0; background-size:contain; position:absolute; left:161px; top:49px; -webkit-transform: scale(0.1); opacity:0;-webkit-animation:a_txt_1 0.2s 0.75s linear both;}
.logo_txt_wrap .txt_7{ display:block; height:39px; width:39px; background:url(../images/cover_txt_7.png) no-repeat 0 0; background-size:contain; position:absolute; left:200px; top:49px; z-index:1; -webkit-transform: scale(0.1); opacity:0; -webkit-animation:a_txt_1 0.2s 0.95s linear both;}
.logo_txt_wrap .icon_qq{ display:block; height:34px; width:35px; background:url(../images/flag_1.png) no-repeat 0 0; background-size:contain; position:absolute; left:0px; top:-5px; -webkit-animation:a_icon_qq 2s 2s linear both infinite alternate; -webkit-transform-origin:100% 100%; opacity:0; -webkit-transform:scale(0.1);}

@-webkit-keyframes a_txt_1{
	0%{ -webkit-transform: scale(3.5); opacity:0;}
	80%{ -webkit-transform: scale(0.95);opacity:1;}
	90%{ -webkit-transform: scale(1.05);opacity:1;}
	100%{ -webkit-transform: scale(1); opacity:1;}
}

@-webkit-keyframes a_txt_2{
	0%{ -webkit-transform: scale(0.1); opacity:0;}
	80%{ -webkit-transform: scale(1.1);opacity:1;}
	90%{ -webkit-transform: scale(0.95);opacity:1;}
	100%{ -webkit-transform: scale(1); opacity:1;}
}

@-webkit-keyframes a_icon_qq{
	0%{ -webkit-transform:scale(0.1) rotate(0deg); opacity:0; }
	20%{ -webkit-transform:scale(1.1) rotate(10deg); opacity:1; }
	25%{ -webkit-transform:scale(0.95) rotate(-5deg); opacity:1;}
	40%{ -webkit-transform:scale(1.05) rotate(5deg); opacity:1;}
	50%{ -webkit-transform:scale(1) rotate(0deg); opacity:1;}
	100%{ -webkit-transform:scale(1) rotate(0deg); opacity:1;}
}

.mine_wrap_1{ display:block; height:62px; width:218px; background:url(../images/mine_bg_2.png) no-repeat 0 0; position:absolute; left:50%; margin-left:-109px; top:328px; background-size:contain;}
.phone_wrap{ display:block; height:164px; width:82px; position:absolute; left:0px; top:-150px; }
.phone_wrap .phone_show{display:block; height:164px; width:82px; background:url(../images/phone_bg.png) no-repeat 0 0; background-size:contain; position:absolute; left:0px; top:0px; z-index:1;}
.phone_wrap .phone_photo{display:block; height:122px; width:73px; background:url(../data/photo_1.png) no-repeat 0 0; background-size:contain; position:absolute; left:5px; top:21px; z-index:1; display:none;}

.plane_wrap{ display:block; height:70px; width:115px; position:absolute; left:-10px; top:15px; z-index:1;}
.plane_wrap .line_1{ display:block; height:21px; width:15px; background:url(../images/line_1_1.png) no-repeat 0 0; position:absolute; left:0px; top:40px; background-size:contain;}
.plane_wrap .line_2{ display:block; height:62px; width:104px; background:url(../images/line_1_2.png) no-repeat 0 0; position:absolute; left:0px; top:5px; background-size:contain;}
.plane_wrap .plane{ display:block; height:9px; width:9px; background:url(../images/plane_1.png) no-repeat 0 0; position:absolute; left:103px; top:-2px; background-size:contain;}

.pliers_area{ display:block; height:50px; width:50px; position:absolute;}
.pliers_area_1{left:-39px; top:50px; -webkit-animation:a_pliers_area_1 0.3s 1.15s linear both; -webkit-transform:rotate(30deg) translate(-60px,0); -webkit-transform-origin:-50% 0%; opacity:0;}
.pliers_area_2{left:238px; top:50px; -webkit-animation:a_pliers_area_2 0.3s 1.45s linear both; -webkit-transform-origin:100% 90%; opacity:0;}
.pliers_area_3{ left:240px; top:205px; -webkit-animation:a_pliers_area_3 0.3s 1.75s linear both;-webkit-transform-origin:100% 0%; opacity:0; }


@-webkit-keyframes a_pliers_area_1{
	0%{ -webkit-transform:rotate(30deg) translate(-60px,0); opacity:0;}
	5%{ -webkit-transform:rotate(30deg) translate(-60px,0); opacity:1;}
	85%{ -webkit-transform:rotate(-2deg) translate(0,0); opacity:1;}
	90%{ -webkit-transform:rotate(1deg) translate(0,0); opacity:1;}
	95%{ -webkit-transform:rotate(-1deg) translate(0,0); opacity:1;}
	100%{ -webkit-transform:rotate(0deg) translate(0,0); opacity:1;}
}

@-webkit-keyframes a_pliers_area_2{
	0%{ -webkit-transform: rotate(-5deg) translate(160px,0); opacity:0;}
	5%{ -webkit-transform: rotate(-5deg) translate(160px,0); opacity:1;}
	85%{ -webkit-transform:rotate(2deg) translate(0,0); opacity:1;}
	90%{ -webkit-transform:rotate(-1deg) translate(0,0); opacity:1;}
	95%{ -webkit-transform:rotate(1deg) translate(0,0); opacity:1;}
	100%{ -webkit-transform:translate(0,0); opacity:1;}
}

@-webkit-keyframes a_pliers_area_3{
	0%{ -webkit-transform: rotate(-5deg) translate(160px,0); opacity:0;}
	5%{ -webkit-transform: rotate(-5deg) translate(160px,0); opacity:1;}
	85%{ -webkit-transform:rotate(2deg) translate(0,0); opacity:1;}
	90%{ -webkit-transform:rotate(-1deg) translate(0,0); opacity:1;}
	95%{ -webkit-transform:rotate(1deg) translate(0,0); opacity:1;}
	100%{ -webkit-transform:translate(0,0); opacity:1;}
}



.pliers_area .pliers_hand{ display:block; height:30px; width:30px; background:url(../images/pliers_hand_3.png) no-repeat 0 0; background-size:contain; position:absolute; left:0px; top:0px;}
.pliers_area_1 .pliers_hand{ -webkit-transform:rotate(-4deg) translate(12px,11px);}
.pliers_area_1 .line{ display:block; height:50px; width:50px; border-radius:0 50px 0 50px/0 50px 0 50px;  border-bottom:2px dotted #fff; position:absolute; left:-39px; top:-24px;}
.pliers_area_2 .pliers_hand{ -webkit-transform:rotate(122deg) translate(43px,-16px);}
.pliers_area_2 .line{ display:block; height:40px; width:40px; border-radius:40px;  border-right:2px dotted #fff;  position:absolute; left:9px; top:40px; -webkit-transform:rotate(-90deg);}
.pliers_area_3 .pliers_hand{ -webkit-transform:rotate(212deg) translate(-10px,-10px);}
.pliers_area_3 .line{ display:block; height:40px; width:40px; border-radius:40px;  border-right:2px dotted #fff;  position:absolute; left:20px; top:0px; -webkit-transform:rotate(74deg);}
.recruit_ad_1{ display:block; height:58px; width:128px; background:url(../images/recruit_ad_1.png) no-repeat 0 0; background-size:contain; position:absolute; left:16px; top:19px; -webkit-transform:rotate(238deg);}
.recruit_ad_2{ display:block; height:48px; width:145px; background:url(../images/recruit_ad_2.png) no-repeat 0 0; background-size:contain; position:absolute; left:23px; top:-32px; -webkit-transform:rotate(146deg);}

.icon_wrap{ display:block; height:15px; width:100%; position:absolute; left:0px; top:0px;}
.icon_area{ display:block; height:30px; width:30px; background:rgba(0,0,0,0.5); position:absolute;}
.icon_area_1{ left:85px; bottom:0px;}
.icon_area_2{ left:122px; bottom:-6px;}
.icon_area_3{ left:150px; bottom:0px;}
.icon_area_4{ left:175px; bottom:-10px;}






.con_wrap{ height:416px; position:relative;}
.tab_wrap{ width:125px; height:82px; border:2px solid #f7f1e0; border-left:none; border-right:none; position:absolute; left:50%; margin-left:-62px; top:50px;}

.tab_list{ margin-top:13px;}
.tab_list .tab_item{ height:19px; width:85px; display:block; line-height:19px; text-align:center; color:#fafafa; border-radius:4px/8px; margin-bottom:12px; position:relative; margin-left:25px; font-size:12px; font-family:'microsoft yahei';}
.tab_list .tab_item:hover{ text-decoration: none;}
.tab_item_1{ background:#f05f6c;}
.tab_item_2{ background:#30accd;}

.icon_diamond{ display:inline-block; height:22px; width:24px; background:url(../images/icon_diamond_small_1.png) no-repeat 0 0; background-size:contain; position:absolute; left:-15px; top:-3px;}
.diamond_1{ background-image:url(../images/icon_diamond_small_1.png);}
.diamond_2{ background-image:url(../images/icon_diamond_small_2.png);}

.tips_pop{ height:18px; width:70px; position:absolute; left:105px; top:11px;}
.icon_circle{ display:block; height:9px; width:9px; border:2px solid #f05f6c; border-radius:9px; position:absolute; top:5px; left:0px;}
.line_area{ height:8px; width:48px; display:block; position:absolute; left:10px; top:2px; overflow:hidden;}
.tips_pop .txt{ color:#f05f6c; font-size:12px; font-family:'microsoft yahei'; line-height:1.2; position:absolute; left:18px; top:10px; }
.line_area .line{ display:block; height:5px; width:45px; border:2px solid #f05f6c; border-right:none; border-bottom:none; -webkit-transform:skew(-50deg,0); position:absolute; left:0px; top:0px;}

.pliers_wrap{ position:relative; height:91px; width:82px; display:block; position:absolute; left:50%; margin-left:-41px; top:124px;}
.pliers{ height:130px; width:120px; display:block; position:absolute; left:50%; margin-left:-60px; top:0; overflow:hidden; z-index:1;}
.pliers .pulley{ display:block; height:31px; width:40px; background: url(../images/pliers_hand_top.png) no-repeat 0 0; background-size:contain; position:absolute; left:50%; margin-left:-20px; top:0px; z-index:1;}
.pliers .handle{ display:block; height:81px; width:74px; background: url(../images/pliers_hand_handle.png) no-repeat 0 0; background-size:contain; position:absolute; left:50%; margin-left:-37px; top:-20px;}
.pliers .handle .palm{ display:block; height:42px; width:18px; background: url(../images/pliers_hand_1.png) no-repeat 0 0; background-size:contain; position:absolute; left:50%; margin-left:-40px; top:63px; -webkit-transform-origin:70% 0%;}
.pliers .handle .palm_2{background-image: url(../images/pliers_hand_2.png); margin-left:22px;}

.mine_wrap{ background:url(../images/mine_bg_1.png) no-repeat 0 0; height:56px; width:164px; display:block; position:absolute; margin-left:-82px; left:50%; top:114px; background-size:contain; -webkit-animation:a_mine_wrap 3s linear infinite alternate;}
.mine_wrap .diamond_area{ display:block; height:39px; width:52px; position:absolute; left:50%; top:-23px; overflow:hidden;}
.mine_wrap .diamond_area_1{margin-left:-62px;}
.mine_wrap .diamond_area_2{margin-left:20px; top:-22px;}
.mine_wrap .diamond_area .diamond{ display:block; height:39px; width:52px; background:url(../images/icon_diamond_1.png) no-repeat 0 0; background-size:contain; position:absolute; top:19px; left:0px;}
.mine_wrap .diamond_area .diamond_1{ background-image:url(../images/icon_diamond_1.png);}
.mine_wrap .diamond_area .diamond_2{ background-image:url(../images/icon_diamond_2.png);}

@-webkit-keyframes a_mine_wrap{
	0%{ -webkit-transform:translate(0,0);}
	25%{ -webkit-transform:translate(-2px,1px);}
	50%{ -webkit-transform:translate(1px,-1px);}
	75%{ -webkit-transform:translate(-1px,1px);}
	100%{ -webkit-transform:translate(0,0);}
}


.get_diamond_1 .pliers{ -webkit-animation:a_pliers_1 0.5s linear both;}
.get_diamond_1 .handle{ -webkit-animation:a_handle 1.5s linear;}
.get_diamond_1 .handle .palm_1{ -webkit-animation:a_palm_1 1.5s linear;}
.get_diamond_1 .handle .palm_2{ -webkit-animation:a_palm_2 1.5s linear;}
.get_diamond_1 .animate_hook{ -webkit-animation:a_animate_hook 3s linear infinite alternate;}
.get_diamond_1 .mine_wrap .diamond_area_1{ -webkit-animation:a_diamond_area 1.5s linear both;}
.get_diamond_1 .mine_wrap .diamond_area_1 .diamond_1{ -webkit-animation:a_diamond 1.5s linear both;}

.get_diamond_2 .pliers{ -webkit-animation:a_pliers_2 0.5s linear both;}


@-webkit-keyframes a_pliers_1{
	0%{ -webkit-transform:translate(0,0);}
	100%{ -webkit-transform:translate(-36px,0);}
}

@-webkit-keyframes a_pliers_2{
	0%{ -webkit-transform:translate(0,0);}
	100%{ -webkit-transform:translate(36px,0);}
}

@-webkit-keyframes a_handle{
	0%{ -webkit-transform:translate(0,0);}
	35%{ -webkit-transform:translate(0,0);}
	55%{ -webkit-transform:translate(0,44px);}
	85%{ -webkit-transform:translate(0,44px);}
	100%{ -webkit-transform:translate(0,0);}
}

@-webkit-keyframes a_palm_1{
	0%{ -webkit-transform:rotate(0deg);}
	25%{ -webkit-transform:rotate(0deg);}
	35%{ -webkit-transform:rotate(10deg);}
	55%{ -webkit-transform:rotate(10deg);}
	65%{ -webkit-transform:rotate(10deg);}
	85%{ -webkit-transform:rotate(0deg);}
	100%{ -webkit-transform:rotate(0deg);}
}

@-webkit-keyframes a_palm_2{
	0%{ -webkit-transform:rotate(0deg);}
	25%{ -webkit-transform:rotate(0deg);}
	35%{ -webkit-transform:rotate(-10deg);}
	55%{ -webkit-transform:rotate(-10deg);}
	65%{ -webkit-transform:rotate(-10deg);}
	85%{ -webkit-transform:rotate(0deg);}
	100%{ -webkit-transform:rotate(0deg);}
}

@-webkit-keyframes a_diamond_area{
	0%{ -webkit-transform: translate(0,0);}
	25%{ -webkit-transform: translate(0,0);}
	35%{ -webkit-transform: translate(0,0);}
	55%{ -webkit-transform: translate(0,0);}
	65%{ -webkit-transform: translate(0,0);}
	85%{ -webkit-transform: translate(0,0);}
	100%{ -webkit-transform: translate(0,-25px);}
}

@-webkit-keyframes a_diamond{
	0%{ -webkit-transform: translate(0,0);}
	25%{ -webkit-transform: translate(0,0);}
	35%{ -webkit-transform: translate(0,0);}
	55%{ -webkit-transform: translate(0,0);}
	65%{ -webkit-transform: translate(0,0);}
	85%{ -webkit-transform: translate(0,0);}
	100%{ -webkit-transform: translate(0,-19px);}
}

@-webkit-keyframes a_animate_hook{
	0%{ -webkit-transform:translate(0,0);}
	25%{ -webkit-transform:translate(2px,-1px);}
	50%{ -webkit-transform:translate(-1px,1px);}
	75%{ -webkit-transform:translate(1px,-1px);}
	100%{ -webkit-transform:translate(0,0);}
}













/*5s 640x1136分辨率兼容*/
/*@media all and (min-height:480px){
	body{ line-height:1.7;}
	
	@-webkit-keyframes a_detail_wrap{
		0%{ height:0px;}
		100%{ height:318px;}
	}
	
	.con_wrap .detail_wrap .txt{ margin-bottom:14px;}
	.cover_wrap .bg,.con_wrap_1 .bg,.con_wrap_2 .bg,.con_wrap_3 .bg{ -webkit-mask:-webkit-gradient(linear, 0 65%, 0 85%, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); z-index:1;}
	
}*/






