@charset "utf-8";

/* 浏览器样式清除 reset */
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
body, button, input, select, textarea{ font:12px/1.5 Tahoma,Arial,'宋体'; }
fieldset,img{border:0;}
ul,li{list-style:none;}
em,i{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
a:hover{ text-decoration:underline;}
a:focus,input,button,select,textarea{outline:none; font-size:100%;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-variant: normal;}
input,select,img{ vertical-align:middle;}
legend{ display:none;}
textarea{resize:none;}
button {cursor:pointer;}

html,body{ height:100%; width:100%; overflow:hidden; position: relative;}

body{ height:100%; width:100%; background:url(../images/index_bg.jpg) no-repeat 0 0; background-size: cover;}

.wrap{ width:1000px; margin:0px auto;}
.logo_area{ display:block; height:240px; width:400px; position:absolute; left:50%; margin-left:-200px; top:100px;}
.logo_area .logo{ display:block; height:119px; width:92px; background:url(../images/logo.png) no-repeat 0 0; position:absolute; left:50%; margin-left:-46px; top:0px; }
.logo_area .logo_txt{ display:block; height:40px; width:86px; background:url(../images/logo_txt.png) no-repeat 0 0; position:absolute; left:50%; margin-left:-43px; top:128px; text-indent:-9999px; overflow:hidden; }
.logo_area .s_line{ display:block; height:2px; width:400px; background:#ececee; position:absolute; left:0; top:180px; box-shadow:0px 1px 2px rgba(0,0,0,0.5);}
.logo_area .slogan_txt{ display:block; height:47px; width:362px; position:absolute; left:50%; margin-left:-181px; top:195px;}
.logo_area .slogan_txt .txt{ display:none;}
.logo_area .slogan_txt .word{ display:block; height:22px; width:22px; background:url(../images/slogan_txt.png) no-repeat 0 0; position:absolute; top:0px;}
.logo_area .slogan_txt .word_1{ background-position:-43px 0; left:43px;}
.logo_area .slogan_txt .word_2{ background-position:-87px 0; left:87px;}
.logo_area .slogan_txt .word_3{ background-position:-131px 0; left:131px;}
.logo_area .slogan_txt .word_4{ background-position:-175px 0; left:175px;}
.logo_area .slogan_txt .word_5{ background-position:-219px 0; left:219px;}
.logo_area .slogan_txt .word_6{ background-position:-262px 0; left:262px;}
.logo_area .slogan_txt .word_7{ background-position:-306px 0; left:306px;}
.logo_area .slogan_txt .word_8{ background-position:0 -25px; left:0px; top:25px;}
.logo_area .slogan_txt .word_9{ background-position:-43px -25px; left:43px; top:25px;}
.logo_area .slogan_txt .word_10{ background-position:-87px -25px; left:87px; top:25px;}
.logo_area .slogan_txt .word_11{ background-position:-131px -25px; left:131px; top:25px;}
.logo_area .slogan_txt .word_12{ background-position:-175px -25px; left:175px; top:25px;}
.logo_area .slogan_txt .word_13{ background-position:-219px -25px; left:219px; top:25px;}
.logo_area .slogan_txt .word_14{ background-position:-262px -25px; left:262px; top:25px;}
.logo_area .slogan_txt .word_15{ background-position:-306px -25px; left:306px; top:25px;}
.logo_area .slogan_txt .word_16{ background-position:-340px -25px; left:340px; top:25px;}

.btn_area{ display:block; height:50px; width:100%; text-align:center; bottom:40px; position:absolute; left:0px;}
.btn_area .btn{ display:inline-block; height:50px; width:200px; line-height:50px; background:rgba(44,19,61,0.95); border-radius:3px; color:#fff; font-size:18px; font-family:'microsoft yahei'; font-weight:normal;}
.btn_area .btn:hover{ text-decoration:none; background:#de4e1c;}
.btn_area .btn:active{ background:#b63e13;}
.btn_area .btn .icon_ios{ display:inline-block; height:24px; width:20px; background:url(../images/icon_ios.png) no-repeat 0 0; margin-right:5px; vertical-align:middle; position:relative; top:-2px;}
.btn_area .btn .icon_android{ display:inline-block; height:24px; width:20px; background:url(../images/icon_android.png) no-repeat 0 0; margin-right:5px; vertical-align:middle; position:relative; top:-2px;}

.btn_ios{ margin-right:10px;}

.footer{ display:block; bottom:14px; position:absolute; left:0px; width:100%; text-align: center; color:#7a7e83;}

































































