@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px;}
ul,li{ list-style:none;}
a{ outline: none;}
html{ background-color:#3a3a3a; background:url(../images/bg.jpg) left top;/*background-image:
-moz-radial-gradient(50% 50%, contain,#313131,#313131 48%,rgba(0,0,0,0) 50%),
-moz-radial-gradient(50% 36%, contain,rgba(0,0,0,0.4),rgba(0,0,0,0.4) 53%,rgba(0,0,0,0) 55%),
-moz-radial-gradient(50% 70%, contain,rgba(255,255,255,0.05),rgba(255,255,255,0.05) 53%,rgba(0,0,0,0) 54%); 
background-size:9px 8px; background-position:-5px -5px;*/ min-height:100%; width:100%; height:100%; overflow:hidden;}
body{font-family:Arial,"微软雅黑"; color:#eee; line-height:1.5;}
.main{ width:1000px; margin-top:45px;}

.btn{ position: absolute; cursor:pointer; right:10px; bottom:2px; width:210px; height:70px; padding:5px; overflow:hidden;}
.btn_bottom{ height:67px; width:212px; position:absolute; left:0px; top:0px; background:rgba(33,33,33,0.9); -moz-border-radius:3px; -moz-box-shadow:0px 0px 5px rgba(255,255,255,0.08) inset,0px 1px 1px rgba(255,255,255,0.3) inset,0px -1px 1px rgba(0,0,0,0.3) inset,0px 0px 6px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,0.6),0px 2px 3px rgba(0,0,0,0.4);}

.btn_main{ position: absolute; left:6px; top:6px; width:200px; height:55px; -moz-box-shadow:0px 0px 4px rgba(0,0,0,1), 0px 0px 2px rgba(0,0,0,0.6); -moz-border-radius:3px; }
.side{ display:block; height:39px; width:39px; position:absolute; overflow:hidden;}
.side:after{ content:""; display:block; height:50px; width:12px; position:absolute;  background:#3a0e0f; -moz-transform:skew(45deg,0deg); -moz-transform-origin:0% 0%;}
.leftSide,.rightSide{ top:8px;}
.leftSide{ -moz-transform:rotate(45deg); left:-19.5px;}
.rightSide{ -moz-transform:rotate(-135deg);right:-19.5px;}
.topSide{ width:141px; height:142px; -moz-transform:rotate(135deg); top:-71px; left:29.5px;}
.topSide:after{ height:142px; background:#742f27;}
.bottomSide{ width:141px; height:142px; -moz-transform:rotate(-45deg); top:-15.5px; left:30px;}
.bottomSide:after{ height:142px; background:#741f06;}

.btn_face{ height:37.5px; width:189px; display:block; left:5.5px; position:absolute; top:9px; 
background-color:rgba(170,67,30,1); background-size:3px 3px;
background-image:-moz-linear-gradient(left,rgba(255,255,255,0) 33%,rgba(255,255,255,0.05) 33%,rgba(255,255,255,0.05) 66%,rgba(0,0,0,0.05) 66%),-moz-linear-gradient(bottom,rgba(255,255,255,0) 33%,rgba(255,255,255,0.05) 33%,rgba(255,255,255,0.05) 66%,rgba(0,0,0,0.05) 66%); 
-moz-border-radius:5px/20px; text-align:center; line-height:38px; -moz-box-shadow:0px -2px 5px rgba(255,255,255,0.2) inset,0px 1px 1px rgba(255,255,255,0.1) inset,0px -1px 1px rgba(255,255,255,0.1) inset,0px 1px 1px rgba(255,255,255,0.1) inset,0px 13px 8px rgba(0,0,0,0.1) inset,0px 10px 10px rgba(0,0,0,0.2) inset,0px 15px 20px rgba(135,40,0,0.3) inset,0px -12px 12px rgba(255,255,255,0.3) inset; /*text-indent:-9999px; overflow:hidden;*/ color:rgba(255,255,255,0.92); font-size:18px; text-shadow:0px -1px 0px rgba(0,0,0,0.5),1px 1px 0px rgba(255,255,255,0.1),-1px -1px 0px rgba(255,255,255,0.1); letter-spacing:1px;}

.leftSide:after,.rightSide:after{-moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2) inset,-1px -18px 2px rgba(0,0,0,0.2) inset,2px 0px 5px rgba(0,0,0,0.4) inset,-2px 0px 5px rgba(0,0,0,0.4) inset;}
.topSide:after{-moz-box-shadow:0px 0px 4px rgba(144,28,0,0.6) inset,0px 0px 2px rgba(144,28,0,0.8) inset,0px -6px 2px rgba(144,28,0,0.5) inset,-1px 0px 1px rgba(255,255,255,0.3) inset,-1px 0px 2px rgba(255,255,255,0.2) inset;}
.bottomSide:after{-moz-box-shadow:0px 0px 3px rgba(144,28,0,0.4) inset,0px 0px 1px rgba(144,28,0,0.6) inset,0px -8px 2px rgba(144,28,0,0.8) inset,-1px 0px 1px rgba(255,255,255,0.2) inset,-2px -1px 1px rgba(255,255,255,0.2) inset,-3px 0px 7px rgba(0,0,0,0.3) inset,1px 0px 2px rgba(144,28,0,0.8) inset;}

.highlight{ display:block; height:95px; width:220px; position:absolute; left:-10px; top:-10px; background:-moz-radial-gradient(110px 46px, contain,rgba(255,195,50,0.5),rgba(255,195,50,0.3) 22%,rgba(33,33,33,0)),  
-moz-radial-gradient(110px 60px,contain,rgba(212,72,30,0.2),rgba(212,72,30,0.1) 50%,rgba(33,33,33,0));
-moz-animation: shining 1s linear infinite;
}

@-moz-keyframes shining{
0%{ opacity:1;}
50%{ opacity:0.2;}
100%{ opacity:1;}
}


.chainBox{ height:10px; width:100%; background:#1d1d1d; position: absolute; left:0px; top:0px; -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.5),0px -2px 0px rgba(255,255,255,0.15) inset,0px 2px 4px rgba(0,0,0,0.5) inset; border-bottom:1px solid rgba(0,0,0,0.6);}
.chainBottom{ height:11px; width:100%; background:-moz-linear-gradient(left,rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 5%,#1d1d1d 5%,#1d1d1d 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 60%,rgba(0,0,0,0.5) 60%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%); background-size:30px 10px; position:absolute; bottom:-8.5px; left:0px;}
.chainBottom2{background:-moz-linear-gradient(left,rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.2) 55%,rgba(0,0,0,0.5) 55%,rgba(0,0,0,0) 65%,rgba(0,0,0,0) 100%) left bottom; background-size:30px 1px; background-repeat:repeat-x;}

.gear{ display:block; height:60px; width:60px; background:#1d1d1d; -moz-border-radius:60px; position:absolute; left:143px; top:18px; -moz-box-shadow:0px 0px 2px rgba(255,255,255,0.4) inset,0px 0px 1px rgba(255,255,255,0.5) inset,0px 0px 6px rgba(0,0,0,0.5);}
.gear:after{ content:"";display:block; height:16px; width:16px; -moz-border-radius:16px; background:#3a3a3a; position:absolute; left:21px; top:21px; border:1px solid rgba(255,255,255,0.3); -moz-box-shadow:0px 0px 15px rgba(255,255,255,0.3),0px 0px 5px rgba(0,0,0,0.8);}
.gear .gearSide{ display:block; height:8px; width:13px; background:#1d1d1d; position:absolute; left:23px; top:-7px; border:1px solid rgba(255,255,255,0.3); border-bottom:none; -moz-box-shadow:0px 1px 0px #1d1d1d,0px -1px 3px rgba(0,0,0,0.5); -moz-transform-origin:6.7px 37px;}

.angle_60{ -moz-transform:rotate(60deg);}
.angle_120{ -moz-transform:rotate(120deg);}
.angle_180{ -moz-transform:rotate(180deg);}
.angle_240{ -moz-transform:rotate(240deg);}
.angle_300{ -moz-transform:rotate(300deg);}

.gear_r{ left:1133px;}
.conBox{ position:absolute;}
.conBox .gear{ top:-27px;}
.conBox .content{ position:absolute; left:170px;}

.content{background:rgba(0,0,0,0.9); width:1000px; position:relative; -moz-border-radius:3px; -moz-box-shadow:0px 0px 5px rgba(255,255,255,0.08) inset,0px 1px 1px rgba(255,255,255,0.3) inset,0px -1px 1px rgba(0,0,0,0.3) inset,0px 0px 6px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,0.6),0px 2px 3px rgba(0,0,0,0.4),0px 0px 2px rgba(255,255,255,0.2) inset; min-height:650px;}

.mainTitle{ text-align:center; font-size:100px; text-shadow:0px 0px 5px #000; padding-top:50px;}
.mainList{ font-size:30px; margin:50px 0px 0px 160px;}
.userHead{ height:65px; width:65px; border:2px solid #fff; -moz-box-shadow:0px 0px 5px #000; margin:0px 10px 0px 0px;}
.authorName{ font-weight:normal; font-size:30px; display:inline;}
.authorLink{ color:#060606;}
.seoHack{ display:none;}

.conBoxMove{-moz-animation:conBoxMove 3s ease-in-out backwards;}
.conBoxMove .gear{  -moz-animation:gearMove 3s ease-in-out backwards;}

@-moz-keyframes gearMove{
0%{ -moz-transform:rotate(0deg);}
100%{ -moz-transform:rotate(2220deg);}
}

@-moz-keyframes conBoxMove{
0%{ -moz-transform:translate(0px,0px);}
100%{ -moz-transform:translate(-1110px,0px);}
}

.conBoxprepare{ left:2220px;}
.conBoxNext{ left:1110px;}

.NextBox{ position:absolute; width:1000px; height:20px; bottom:15px;}
.NextBox .next{ color:#fff; text-decoration:none; position:absolute; right:50px; display:block; height:20px; width:50px;}
.NextBox .next:after{ content:">>"; display:block; position:absolute; left:50px; top:0px;}
.NextBox:hover .next:after{left:60px;}

.conBoxPrevious{ left:-1110px;}

.subTitle{ text-align:left; font-size:60px; text-shadow:0px 0px 5px #000; padding: 40px 0 0 60px;}
.subList{ font-size:30px; margin:40px 0px 0px 60px;}
.subList li{ list-style:disc; margin:0px 0px 5px 40px;}
.subText{font-size:30px; padding:10px 60px;}
.numList li{ list-style: decimal;}
.conPic{ margin:10px 0px 10px 60px; border:2px solid #fff;}

.showBox{ display:block; height:50px; width:420px; position:absolute; left:100px; top:415px;}
.showBox i{ display:block; height:50px; width:50px;  position:absolute; top:0px; color:#000; text-align:center; font-style:normal; line-height:50px; font-weight:bold; border:1px dashed #fff;}
.showBox i b{display:block; height:50px; width:50px; position:absolute; left:-1px; top:-1px; border:1px solid #eee; background:rgba(255,255,255,0.6); overflow:hidden;}
.showBox .trans b{ -moz-transition:-moz-transform 0.5s linear;}
.showBox .notransition{left:0px;}
.showBox .translate{ left:70px;}
.showBox .rotate{left:140px;}
.showBox .scale{left:210px;}
.showBox .skew{left:280px;}
.showBox .tranOri{left:350px;}
.showBox .tranOri b{ -moz-transform-origin:0% 0%;}
.showBox .notransition:hover b{ -moz-transform:translate(5px,10px);}
.showBox .translate:hover b{ -moz-transform:translate(5px,10px);}
.showBox .rotate:hover b{ -moz-transform:rotate(45deg);}
.showBox .scale:hover b{ -moz-transform:scale(1.5);}
.showBox .skew:hover b{ -moz-transform:skew(10deg,15deg);}
.showBox .tranOri:hover b{ -moz-transform:rotate(45deg);}

.showDufu{ position:absolute; left:520px; top:415px; height:50px; width:50px; cursor:pointer; background:url(../images/img_3.jpg) no-repeat left top; background-size:contain; border:1px solid #eee; }
.showDufu .conPic{ -moz-animation:dufuBusy 2s ease-in-out infinite alternate; display:none; margin:0px;}
.showDufu:hover .conPic{ display:block;}

@-moz-keyframes dufuBusy{
	0%{-moz-transform:translate(0px,0px);}
	100%{-moz-transform:translate(200px,0px);}
}

.praticeBox{ display:block; height:100px; padding:40px; margin:20px 60px; border:1px solid rgba(255,255,255,0.8); -moz-box-shadow:2px 2px 4px rgba(0,0,0,1); background:rgba(255,255,255,0.7); -moz-border-radius:5px; position:relative;}
.textShadow{ line-height:100px; text-align:center; font-size:100px; font-weight:bold; text-shadow:2px 2px 0px rgba(0,0,0,1),-2px -2px 0px rgba(0,0,0,1),2px -2px 0px rgba(0,0,0,1),-2px 2px 0px rgba(0,0,0,1);}

.textCode{ color:#999; font-size:20px; text-decoration:none;}
.textCode:hover{ color:#eee; text-decoration: underline;}

.testDiv{ height:130px; width:200px; border:1px solid rgba(0,0,0,0.7); background:rgba(255,255,255,0.8); position:absolute; top:25px;}
.testDiv_1,.testDiv_3{ -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.6),0px 0px 2px rgba(0,0,0,0.8); left:50px;}
.testDiv_2,.testDiv_4{ -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.6) inset,0px 0px 2px rgba(0,0,0,0.8) inset; left:300px;}
.testDiv_3{ left:550px;}
.testDiv_4{ height:110px; width:180px; left:10px; top:10px; background: url(../images/head.png) no-repeat left -65px;}
.glass .testDiv_2{ background:#888; -moz-box-shadow:0px 0px 3px rgba(0,0,0,0.4) inset,0px 0px 2px rgba(0,0,0,0.6) inset,0px 65px 0px rgba(255,255,255,0.2) inset;}

.testDiv_1:after,.testDiv_2:after{ content:"+"; height:30px; width:30px; color:#000; font-size:30px; position:absolute; left:215px; top:40px;}
.testDiv_2:after{ content:"="; }
.glass .testDiv_4{background: url(../images/img_4.jpg) no-repeat left top; }
.glass .testDiv_3 .testDiv_4{ -moz-box-shadow:0px 0px 3px rgba(0,0,0,0.4) inset,0px 0px 2px rgba(0,0,0,0.6) inset,0px 55px 0px rgba(255,255,255,0.2) inset,0px 10px 20px rgba(255,255,255,0.4) inset;}

.tipsContainer{ height:280px; background:#e6f2fe; -moz-box-shadow:0px -100px 150px rgba(0,0,0,0.06) inset;}
.loveContainer{ margin-top:50px; height:270px;}
.loveContainer .tipBox{ top:-52px;}
.loveContainer .lBox{ left:20px;}
.loveContainer .oBox{ left:180px;}
.loveContainer .vBox{ left:340px;}
.loveContainer .eBox{ left:500px;}

.cloverContainer{ height:280px;}
.cloverContainer .bottle{ top:70px; position:absolute;}
.cloverContainer .bottle_1{ left:80px;}
.cloverContainer .bottle_2{ left:240px;}
.cloverContainer .bottle_3{ left:400px;}
.cloverContainer .bottle_4{ left:560px;}
.cloverContainer .bottle_5{ left:720px;}

.NextBox .hideBg{ position:absolute; right:20px; top:-420px; height:20px; width:100px; color:#fff;}

.userHead{ -moz-animation:userHeadMove 1s linear infinite; height:150px; width:150px;}

@-moz-keyframes userHeadMove{
	0%{-moz-transform:translate(0px,0px);}
	25%{-moz-transform:translate(0px,-5px);}
	50%{-moz-transform:translate(0px,1px);}
	75%{-moz-transform:translate(0px,-3px);}
	100%{-moz-transform:translate(0px,0px);}
}

.addBox{ height:50px; width:50px; border:1px solid rgba(0,0,0,0.1); -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.5),0px 0px 1px rgba(255,255,255,0.5) inset; position:absolute; left:10px; top:0px; background:rgba(0,0,0,0.9); -moz-border-radius:3px; -moz-transition:height 1s linear,width 1s linear,left 1s linear,top 1s linear; z-index:99; overflow:hidden;}
.addBox .addBox_control{ height:50px; width:50px; color:#aaa; font-size:14px; text-decoration:none; line-height:70px; text-align:center; display:block; position:absolute; left:0px; top:0px;}
.addBox .addBox_control:hover{ color:#fff;}
.addBox .btn_paint{ left:50px;}
.addBox .btn_clear{ left:100px;}
.addDiv{ height:300px; width:400px; position:absolute; left:50px; top:60px; border:1px solid rgba(0,0,0,0.8); -moz-border-radius:5px; -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.6); background:rgba(255,255,255,0.9); text-align:center; line-height:300px; font-size:100px; font-weight:bold; color:rgba(255,255,255,0.9);}
.screw{ display:block; height:20px; width:20px; border:1px solid rgba(0,0,0,0.9); -moz-border-radius:10px; -moz-box-shadow:4px 6px 0px rgba(255,255,255,0.04) inset,0px 0px 3px rgba(255,255,255,0.1),0px 0px 1px rgba(0,0,0,0.5); background:#1c1c1c; left:13px; top:2px; position:absolute;}

.showAddBox{ height:440px; width:500px;}

.canvas{ border:1px solid rgba(0, 0, 0, 0.7); position:absolute; left:50px; top:60px; background:rgba(255,255,255,0.9); -moz-border-radius:5px; -moz-box-shadow:0px 0px 5px rgba(255,255,255,0.4); display:none;}


/*box-shadow border-radius*/

.btn_bottom{border-radius:3px; box-shadow:0px 0px 5px rgba(255,255,255,0.08) inset,0px 1px 1px rgba(255,255,255,0.3) inset,0px -1px 1px rgba(0,0,0,0.3) inset,0px 0px 6px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,0.6),0px 2px 3px rgba(0,0,0,0.4);}

.btn_main{box-shadow:0px 0px 4px rgba(0,0,0,1), 0px 0px 2px rgba(0,0,0,0.6); border-radius:3px; }
.btn_face{border-radius:5px/20px;box-shadow:0px -2px 5px rgba(255,255,255,0.2) inset,0px 1px 1px rgba(255,255,255,0.1) inset,0px -1px 1px rgba(255,255,255,0.1) inset,0px 1px 1px rgba(255,255,255,0.1) inset,0px 13px 8px rgba(0,0,0,0.1) inset,0px 10px 10px rgba(0,0,0,0.2) inset,0px 15px 20px rgba(135,40,0,0.3) inset,0px -12px 12px rgba(255,255,255,0.3) inset;}

.leftSide:after,.rightSide:after{box-shadow:0px 2px 2px rgba(0,0,0,0.2) inset,-1px -18px 2px rgba(0,0,0,0.2) inset,2px 0px 5px rgba(0,0,0,0.4) inset,-2px 0px 5px rgba(0,0,0,0.4) inset;}
.topSide:after{box-shadow:0px 0px 4px rgba(144,28,0,0.6) inset,0px 0px 2px rgba(144,28,0,0.8) inset,0px -6px 2px rgba(144,28,0,0.5) inset,-1px 0px 1px rgba(255,255,255,0.3) inset,-1px 0px 2px rgba(255,255,255,0.2) inset;}
.bottomSide:after{box-shadow:0px 0px 3px rgba(144,28,0,0.4) inset,0px 0px 1px rgba(144,28,0,0.6) inset,0px -8px 2px rgba(144,28,0,0.8) inset,-1px 0px 1px rgba(255,255,255,0.2) inset,-2px -1px 1px rgba(255,255,255,0.2) inset,-3px 0px 7px rgba(0,0,0,0.3) inset,1px 0px 2px rgba(144,28,0,0.8) inset;}

.chainBox{ box-shadow:0px 1px 2px rgba(0,0,0,0.5),0px -2px 0px rgba(255,255,255,0.15) inset,0px 2px 4px rgba(0,0,0,0.5) inset;}

.gear{border-radius:60px;box-shadow:0px 0px 2px rgba(255,255,255,0.4) inset,0px 0px 1px rgba(255,255,255,0.5) inset,0px 0px 6px rgba(0,0,0,0.5);}
.gear:after{border-radius:16px;box-shadow:0px 0px 15px rgba(255,255,255,0.3),0px 0px 5px rgba(0,0,0,0.8);}
.gear .gearSide{box-shadow:0px 1px 0px #1d1d1d,0px -1px 3px rgba(0,0,0,0.5);}

.content{border-radius:3px; box-shadow:0px 0px 5px rgba(255,255,255,0.08) inset,0px 1px 1px rgba(255,255,255,0.3) inset,0px -1px 1px rgba(0,0,0,0.3) inset,0px 0px 6px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,0.6),0px 2px 3px rgba(0,0,0,0.4),0px 0px 2px rgba(255,255,255,0.2) inset;}

.userHead{box-shadow:0px 0px 5px #000;}

.praticeBox{box-shadow:2px 2px 4px rgba(0,0,0,1); border-radius:5px;}
.testDiv_1,.testDiv_3{ box-shadow:0px 0px 5px rgba(0,0,0,0.6),0px 0px 2px rgba(0,0,0,0.8);}
.testDiv_2,.testDiv_4{ box-shadow:0px 0px 5px rgba(0,0,0,0.6) inset,0px 0px 2px rgba(0,0,0,0.8) inset;}
.glass .testDiv_2{box-shadow:0px 0px 3px rgba(0,0,0,0.4) inset,0px 0px 2px rgba(0,0,0,0.6) inset,0px 65px 0px rgba(255,255,255,0.2) inset;}

.glass .testDiv_3 .testDiv_4{ box-shadow:0px 0px 3px rgba(0,0,0,0.4) inset,0px 0px 2px rgba(0,0,0,0.6) inset,0px 55px 0px rgba(255,255,255,0.2) inset,0px 10px 20px rgba(255,255,255,0.4) inset;}

.tipsContainer{ box-shadow:0px -100px 150px rgba(0,0,0,0.06) inset;}

.addBox{box-shadow:0px 0px 5px rgba(0,0,0,0.5),0px 0px 1px rgba(255,255,255,0.5) inset; border-radius:3px; }

.addDiv{border-radius:5px; box-shadow:0px 0px 5px rgba(0,0,0,0.6); }
.screw{ border-radius:10px; box-shadow:4px 6px 0px rgba(255,255,255,0.04) inset,0px 0px 3px rgba(255,255,255,0.1),0px 0px 1px rgba(0,0,0,0.5); }

.canvas{border-radius:5px; box-shadow:0px 0px 5px rgba(255,255,255,0.4);}


























