@charset "utf-8";

/* 浏览器样式清除 reset */
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
html,body{width:100%;height:100%;}
body, button, input, select, textarea{ font:12px/1.5 Tahoma,Arial,'宋体'; }
fieldset,img{border:0;}
ul,li{list-style:none;}
em,i{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
a:hover{ text-decoration:underline;}
a:focus,input,button,select,textarea{outline:none; font-size:100%;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-variant: normal;}
input,select,img{ vertical-align:middle;}
legend{ display:none;}
textarea{resize:none;}
button {cursor:pointer;}

.phone_wrap{ font-size:12px; width:100%; text-align:center;}
.phone_wrap .icon{ display: inline-block; height:28px; width:28px; background:url(../img/phone/phone_icon.png) no-repeat 0 0; background-size:28px 60px; margin:85px auto 10px;}
.phone_wrap .icon_success{ background-position:0 -30px;}
.phone_wrap .icon_alert{ background-position:0 0;}
.phone_wrap .title{ font-size:16px; font-family:'microsoft yahei'; font-weight:normal; color:#333; margin-bottom:3px;}
.phone_wrap .txt{ font-size:14px; font-family:'microsoft yahei'; color:#999; margin-bottom:16px;}

.btn_wrap .btn_back{ display:block; height:43px; width:211px; background:#f36a00; color:#fff; font-size:16px; font-family:'microsoft yahei'; text-align:center; line-height:43px; margin:0px auto; border-radius:3px;}
.btn_wrap .btn_back:hover{ text-decoration:none;}
.btn_wrap .btn_back:active{ position:relative; top:1px;}









































































