@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px;}
body{ font-size:12px;}
ul,ol,li{ list-style:none;}
.main{ width:1000px; margin:10px auto;}
.displayBox{ border:1px solid #999999; height:409px; width:409px; position:relative;-moz-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.3);-webkit-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.3);}
.displayBox i{ display:block; height:40px; width:40px; background:#bbb8b6; background:rgba(0,0,0,0.3); z-index:2; position:absolute; cursor:pointer; text-align:center; line-height:40px; font-style:normal; font-size:16px; text-indent:-9999px; overflow:hidden; }
.displayBox .selected{ background:rgba(0,0,255,0.3); color:#fff; -moz-box-shadow:0px 0px 5px #009cff;-weikit-box-shadow:0px 0px 5px #009cff;}
.displayBox .pathItem{ background:rgba(0,156,255,0.3); color:#fff;}
.cooperBox{ padding:10px;}
.check{ opacity:0.1; position:absolute; left:0px; top:0px; z-index:1; _filter:alpha(opacity=10);}
.check td{ height:40px; width:40px; text-align:center; line-height:40px; border:1px solid #666;border-top:none; border-left:none; text-indent:-9999px; overflow:hidden;}
.check .last{ border-right:none;}

.holdOnLayer{ position:absolute; height:409px; width:409px; background:#000; background:rgba(0,0,0,0.1); z-index:99; line-height:410px; text-align:center; color:#fff; text-shadow:1px 1px 0px #000; font-size:14px; display:none; _filter:alpha(opacity=20);}

.box{ position:absolute; left:430px; border:1px solid #000; border:1px solid rgba(0,0,0,0.5); width:100px; height:30px; text-align:center; line-height:30px; font-size:18px; font-family:"微软雅黑"; -moz-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.3);-webkit-box-shadow:inset 0px 0px 3px rgba(0,0,0,0.3); text-shadow:0px 0px 2px rgba(0,0,0,0.5); background:rgba(0,0,0,0.1);}
.countDownBox{ top:10px;}
.bomNumBox{ top:50px;}























































































