@charset "utf-8";

/*!
 * 
 *
 * Author：sunnycchen
 *
 */

/*reset*/
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
fieldset,img{border:0;}
ul,li{list-style:none;}
em,i{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
a:hover{ text-decoration:underline;}
a:focus,input,button,select,textarea{outline:none;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-variant: normal;}
input,select,img{ vertical-align:middle;}
legend{ display:none;}
textarea{resize:none;}
.clear{ clear:both;}
.clearfix{zoom:1;}
.clearfix:after{clear:both; content:"";display:block;height:0;line-height:0;visibility:hidden;}

body{ font-size:12px; color:#333; background:#b1723d;}
.wrap{ width:900px; margin:0px auto;}

.klotski_wrap{ width:432px; margin:20px auto; border:1px solid #80551e; overflow:hidden; background:#f0c287; box-shadow:0px 0px 2px rgba(0,0,0,0.2) inset,0px 0px 1px rgba(0,0,0,0.2) inset,0px 0px 0px 2px #eec390,0px 0px 0px 3px #80551e,0px 0px 3px 3px rgba(0,0,0,0.3),0px 0px 2px 3px rgba(0,0,0,0.3); position:relative;}
.klotski_main{ width:300px; height:300px; float:left; margin:10px; border:1px solid #825d43; box-shadow:0px 0px 2px rgba(0,0,0,0.1),0px 0px 1px rgba(0,0,0,0.1); position:relative;}
.klotski_sidebar{ position:absolute; height:300px; width:100px; background:#e8b675; right:10px; top:10px; border:1px solid #825d43; box-shadow:0px 0px 2px rgba(0,0,0,0.1),0px 0px 1px rgba(0,0,0,0.1),0px 0px 0px 1px rgba(255,255,255,0.35) inset;}
.klotski_sidebar .side_title{ height:30px; line-height:30px; text-align:center; font-size:14px; font-weight:normal; border-bottom:1px solid #825d43;box-shadow:0px -1px 0px rgba(255,255,255,0.35) inset,0px 1px 0px rgba(255,255,255,0.35);}
.klotski_sidebar .btn{ margin:10px auto 0px;}

.klotski_box{ height:300px; width:300px;}
.klotski_list{ display:block; height:300px; width:300px; position: relative;}
.klotski_list li{ display:block; height:99px; width:99px; position:absolute; -moz-transition:-moz-transform 0.2s ease-in-out; -webkit-transition:-webkit-transform 0.2s ease-in-out; z-index:1; left:0px; top:0px;}
.klotski_list li a{ width:99px; height:99px; display:block; text-align:center; line-height:100px; text-indent:-9999px; overflow:hidden; background:#e8b675; border:1px solid #825d43; margin:-1px; box-shadow:0px 0px 0px 1px rgba(255,255,255,0.45) inset; position:relative;}
.klotski_list li a:hover{ background:#f6cf9d;}
.klotski_list .current { z-index:2;}
.klotski_list .current a{ -moz-animation:shining 4s ease-in-out infinite; -webkit-animation:shining 4s ease-in-out infinite;}
.klotski_list .current a:after{ display:block; position:absolute; left:-200px; top:-200px; height:200px; width:150px; content:""; 
-moz-animation:flash 4s ease-in-out infinite; background:-moz-linear-gradient(left,rgba(255,255,255,0.01),rgba(255,255,255,0.5));background:-webkit-linear-gradient(left,rgba(255,255,255,0.01),rgba(255,255,255,0.5)); -moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);
}

.klotski_list .p1{-moz-transform:translate(0px,0px); -webkit-transform:translate(0px,0px);}
.klotski_list .p2{-moz-transform:translate(100px,0px); -webkit-transform:translate(100px,0px);}
.klotski_list .p3{-moz-transform:translate(200px,0px); -webkit-transform:translate(200px,0px);}

.klotski_list .p4{-moz-transform:translate(0px,100px); -webkit-transform:translate(0px,100px);}
.klotski_list .p5{-moz-transform:translate(100px,100px); -webkit-transform:translate(100px,100px);}
.klotski_list .p6{-moz-transform:translate(200px,100px); -webkit-transform:translate(200px,100px);}

.klotski_list .p7{-moz-transform:translate(0px,200px); -webkit-transform:translate(0px,200px);}
.klotski_list .p8{-moz-transform:translate(100px,200px); -webkit-transform:translate(100px,200px);}
.klotski_list .p9{-moz-transform:translate(200px,200px); -webkit-transform:translate(200px,200px);}

@-moz-keyframes shining{
	0%{ border:1px solid #825d43;}
	50%{border:1px solid #e19234;}
	100%{border:1px solid #825d43;}
}

@-moz-keyframes flash{
	0%{left:-200px; top:-200px;}
	100%{left:200px; top:200px;}
}
@-webkit-keyframes shining{
	0%{ border:1px solid #825d43;}
	50%{border:1px solid #e19234;}
	100%{border:1px solid #825d43;}
}

@-webkit-keyframes flash{
	0%{left:-200px; top:-200px;}
	100%{left:200px; top:200px;}
}

.score_time,.score_step{ height:30px; display:block; width:80px; line-height:30px; text-align:center; border:1px solid #825d43; margin:10px auto 0px; box-shadow:0px 0px 0px 1px rgba(255,255,255,0.35),0px 0px 2px rgba(0,0,0,0.2) inset; font-size:20px; font-family:arial; font-weight:normal; color:#513d2c; text-shadow:0px 1px 0.5px rgba(255,255,255,0.5);}

.btn{ height:25px; line-height:25px; text-align:center; border:1px solid #825d43; display:block; background:rgba(255,255,255,0.1); width:80px; color:#513d2c; font-size:14px; box-shadow:0px 0px 0px 1px rgba(255,255,255,0.35) inset,0px 1px 0px #ca9f67,0px 2px 0px #825d43,0px 2px 3px rgba(0,0,0,0.3),0px 2px 2px rgba(0,0,0,0.1); border-radius:2px; position:relative;}
.btn:hover{ text-decoration:none; background:rgba(255,255,255,0.2);}
.btn:active,.actived,.actived:hover{ text-decoration:none; background:rgba(0,0,0,0.03); box-shadow:0px 0px 0px 1px rgba(255,255,255,0.35) inset,0px 1px 0px #825d43,0px 1px 1px rgba(0,0,0,0.1); top:1px;}

.rank_box{ height:300px; width:300px; background:#f0c287; position:absolute; top:-320px; left:10px; border:1px solid #825d43; box-shadow:0px 0px 2px rgba(0,0,0,0.1),0px 0px 1px rgba(0,0,0,0.1),0px 0px 0px 1px rgba(255,255,255,0.35) inset; -moz-transition:top 0.3s ease-in-out; -webkit-transition:top 0.3s ease-in-out; z-index:9;}
.rank_list li{ height:30px; line-height:30px; font-size:14px; font-family:arial; overflow:hidden; display:block; zoom:1;}
.rank_list li span{ float:left;}
.rank_list li .index{ width:45px; padding-left:10px;}
.rank_list li .name{ width:130px; overflow:hidden; text-overflow: ellipsis; white-space:nowrap;}
.rank_list li .time{ width:45px;}
.rank_list li .step{ width:45px;}

.rank_list li .name a{ color:#222;}
.rank_list li .name a:hover{ color:#273e80;}

.rank_list .title{ border-bottom:1px solid #825d43; box-shadow:0px 1px 0px rgba(255,255,255,0.35),0px 0px 0px 1px rgba(255,255,255,0.35) inset; background:#f0c287;}
.rank_box_show{top:10px; left:10px;}

.rank_box_title{ width:300px; position:absolute; left:0px; top:0px;}
.rank_box_con{ overflow-y:auto; width:299px; height:267px; position:absolute; top:32px; left:0px;}

.klotski_rank .rank_list li .name{ width:250px;}

/*chop_block*/
.chop_box{ height:300px; width:300px; box-shadow:0px 0px 5px rgba(0,0,0,1) inset,0px 0px 3px rgba(0,0,0,1) inset;}
.chop_block{ display:block; height:300px; width:300px; position:absolute; left:-1px; top:-1px; background:rgba(240,194,135,0.96); z-index:2; border:1px solid #825d43; box-shadow:0px 0px 0px 1px rgba(255,255,255,0.35) inset;}

























