@charset "utf-8";

/*!
 * 
 *
 * Author：sunnycchen
 *
 */

/*reset*/
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
fieldset,img{border:0;}
ul,li{list-style:none;}
em,i{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
a:hover{ text-decoration:underline;}
a:focus,input,button,select,textarea{outline:none;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-variant: normal;}
input,select,img{ vertical-align:middle;}
legend{ display:none;}
textarea{resize:none;}
.clear{ clear:both;}
.clearfix{zoom:1;}
.clearfix:after{clear:both; content:"";display:block;height:0;line-height:0;visibility:hidden;}

body{ font-size:12px; color:#333; background:#d4f2f8;}
.wrap{ width:100%; height:506px; margin:0px auto; background:url(../image/klotski_main_bg.jpg) no-repeat 0 0; background-size:320px 506px; overflow:hidden;}

.klotski_wrap{ width:432px; margin:20px auto; border:1px solid #80551e; overflow:hidden; background:#f0c287; position:relative;}
.klotski_main{position:relative; left:33px; top:56px; height:270px; width:240px; padding:12px 7px 8px;}

.klotski_box{ height:270px; width:240px; position:relative;}
.klotski_list{ display:block; height:270px; width:240px; position: relative;}
.klotski_list li{ display:block; height:99px; width:99px; position:absolute; -moz-transition:-moz-transform 0.2s ease-in-out; -webkit-transition:-webkit-transform 0.2s ease-in-out; z-index:1; left:0px; top:0px;}
.klotski_list li a{ width:99px; height:99px; display:block; text-align:center; line-height:100px; text-indent:-9999px; overflow:hidden; background:#e8b675; border:1px solid #825d43; margin:-1px; box-shadow:0px 0px 0px 1px rgba(255,255,255,0.45) inset; position:relative; cursor:pointer;}
.klotski_list li a:hover{ background:#f6cf9d;}
.klotski_list li a.current{ -moz-animation:a_light 2s ease-in-out infinite; -webkit-animation:a_light 2s ease-in-out infinite; box-shadow:0px 0px 0px 1px rgba(96,227,181,0.6),0px 0px 3px 2px rgba(69,191,228,0.6); border-radius:1px; border:1px solid #52c2b8; }
.klotski_list li a.a_scale{-moz-animation:a_scale 0.5s ease-in-out; -webkit-animation:a_scale 0.5s ease-in-out;}

@-moz-keyframes a_light{
	0%{box-shadow:0px 0px 0px 1px rgba(96,227,181,0.6),0px 0px 3px 2px rgba(69,191,228,0.6);}
	50%{box-shadow:0px 0px 0px 1px rgba(101,240,183,0.95),0px 0px 5px 2px rgba(80,222,255,1);}
	100%{box-shadow:0px 0px 0px 1px rgba(96,227,181,0.6),0px 0px 3px 2px rgba(69,191,228,0.6);}
}

@-webkit-keyframes a_light{
	0%{box-shadow:0px 0px 0px 1px rgba(96,227,181,0.6),0px 0px 3px 2px rgba(69,191,228,0.6);}
	50%{box-shadow:0px 0px 0px 1px rgba(101,240,183,0.95),0px 0px 5px 2px rgba(80,222,255,1);}
	100%{box-shadow:0px 0px 0px 1px rgba(96,227,181,0.6),0px 0px 3px 2px rgba(69,191,228,0.6);}
}

@-moz-keyframes a_scale{
	0%{-moz-transform:scale(1,1);}
	25%{-moz-transform:scale(1.11,1.11);}
	50%{-moz-transform:scale(0.93,0.93);}
	75%{-moz-transform:scale(1.02,1.02);}
	100%{-moz-transform:scale(1,1);}
}

@-webkit-keyframes a_scale{
	0%{-webkit-transform:scale(1,1);}
	25%{-webkit-transform:scale(1.11,1.11);}
	50%{-webkit-transform:scale(0.93,0.93);}
	75%{-webkit-transform:scale(1.02,1.02);}
	100%{-webkit-transform:scale(1,1);}
}


/*(96,227,181,0.95)*/
@-moz-keyframes shining{
	0%{ border:1px solid #825d43;}
	50%{border:1px solid #e19234;}
	100%{border:1px solid #825d43;}
}

@-moz-keyframes flash{
	0%{left:-200px; top:-200px;}
	100%{left:200px; top:200px;}
}
@-webkit-keyframes shining{
	0%{ border:1px solid #825d43;}
	50%{border:1px solid #e19234;}
	100%{border:1px solid #825d43;}
}

@-webkit-keyframes flash{
	0%{left:-200px; top:-200px;}
	100%{left:200px; top:200px;}
}

.score_time,.score_step{ height:30px; display:block; width:80px; line-height:30px; text-align:center; border:1px solid #825d43; margin:10px auto 0px; box-shadow:0px 0px 0px 1px rgba(255,255,255,0.35),0px 0px 2px rgba(0,0,0,0.2) inset; font-size:20px; font-family:arial; font-weight:normal; color:#513d2c; text-shadow:0px 1px 0.5px rgba(255,255,255,0.5);}

.btn{ height:25px; line-height:25px; text-align:center; border:1px solid #825d43; display:block; background:rgba(255,255,255,0.1); width:80px; color:#513d2c; font-size:14px; box-shadow:0px 0px 0px 1px rgba(255,255,255,0.35) inset,0px 1px 0px #ca9f67,0px 2px 0px #825d43,0px 2px 3px rgba(0,0,0,0.3),0px 2px 2px rgba(0,0,0,0.1); border-radius:2px; position:relative;}
.btn:hover{ text-decoration:none; background:rgba(255,255,255,0.2);}
.btn:active,.actived,.actived:hover{ text-decoration:none; background:rgba(0,0,0,0.03); box-shadow:0px 0px 0px 1px rgba(255,255,255,0.35) inset,0px 1px 0px #825d43,0px 1px 1px rgba(0,0,0,0.1); top:1px;}



/*chop_block*/
.chop_box{ height:300px; width:300px; box-shadow:0px 0px 5px rgba(0,0,0,1) inset,0px 0px 3px rgba(0,0,0,1) inset;}
.chop_block{ display:block; height:300px; width:300px; position:absolute; left:-1px; top:-1px; background:rgba(240,194,135,0.96); z-index:2; border:1px solid #825d43; box-shadow:0px 0px 0px 1px rgba(255,255,255,0.35) inset;}


.klotski_list li{ height:auto; width:auto;}
.img_tips{ display:block; height:270px; width:240px; background-size:240px 270px; opacity:0.2;  position:absolute; left:0px; top:0px; pointer-events:none;}
.line_tips{ display:block; position:absolute; left:0px; top:0px; background:rgba(0,0,0,0.05);}
.patch_wrap{ position:static; margin-top:70px; padding:0px 15px;}
.patch_List{ height:135px; width:2700px; position:static;}
.patch_List li{ position:static; float:left; margin:0 10px 10px 0;}


/*mod_time*/
.mod_time{margin:15px 0px 0px 50px; float:left; background:url(../image/klotski_time_bg.png) no-repeat 0 0; background-size:96px 30px; height:30px; line-height:30px; width:96px; position:relative;}
.mod_time .icon_clock{ display:block; height:47px; width:48px; background:url(../image/klotski_clock.png) no-repeat 0 0;background-size:48px 47px; position:absolute; left:-25px; top:-13px;}
.mod_time .time{ font-size:15px; font-family:'arial'; color:#dcf7fa; text-shadow:0px 0px 4px rgba(0,0,0,0.2),0px 0px 2px rgba(0,0,0,0.3); text-align:right; height:30px; width:90px; display:block; padding-right:3px; letter-spacing:1px;}
.mod_time:hover .icon_clock{ -moz-animation:clock_shake 1s ease-in-out infinite;}

@-moz-keyframes clock_shake{
	0% {-moz-transform: scale(1);}	
	10%, 20% {-moz-transform: scale(0.95) rotate(-3deg);}
	30%, 50%, 70%, 90% {-moz-transform: scale(1.03) rotate(3deg);}
	40%, 60%, 80% {-moz-transform: scale(1.03) rotate(-3deg);}
	100% {-moz-transform: scale(1) rotate(0);}
}

/*btn_pause*/
.control_wrap{ float:left; margin:6px 0px 0px 90px ;}
.btn_pause{ display:block; float:left; height:50px; width:54px; background:url(../image/klotski_pause_btn.png) no-repeat 0 0; background-size:54px 50px; text-indent:-9999px; overflow:hidden;}















