@charset "utf-8";

/* 浏览器样式清除 reset */
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
body, button, input, select, textarea{ font:12px/1.5 Tahoma,Arial,'宋体'; }
fieldset,img{border:0;}
ul,li{list-style:none;}
em,i{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
a:hover{ text-decoration:underline;}
a:focus,input,button,select,textarea{outline:none; font-size:100%;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-variant: normal;}
input,select,img{ vertical-align:middle;}
legend{ display:none;}
textarea{resize:none;}
button {cursor:pointer;}

body,html{ display:block; height:100%; width:100%;}
body{ background:#363737;}
.wrap{ padding-top:1px; width:100%; overflow-x:hidden; background:#fff;}

.logo_area { display:block; height:128px; width:576px; border-bottom:1px solid #b9c0cb; margin:115px auto 25px; text-align:center;}
.logo_area .logo{ display:block; height:104px; width:293px; background:url(../images/logo.png) no-repeat 0 0; margin:0 auto; text-indent:-9999px; overflow:hidden;}
.logo_area .logo_slogan{ display:none;}
.company_title{ position:relative; top:55px;}
.company_detail{ position:relative; top:55px;}
.company_detail .detail_slogan{ display:block; height:23px; width:575px; background:url(../images/webank_slogan.png) no-repeat 0 0; text-indent:-9999px; overflow:hidden; margin:0px auto 10px;}

.company_detail .txt{ display:block; height:23px; width:575px; font-size:16px; font-family:'microsoft yahei'; color:#666; margin:0px auto 115px;}

.ocupy_area{ position:relative; display:block; height:547px; width:1118px; margin:0 auto 90px;}
.phone_wrap{ display:block; height:547px; width:1118px; background:url(../images/phone_bg.png) no-repeat 0 0; background-size:100% 100%; -moz-transition:-moz-transform 0.1s linear; -webkit-transition:-webkit-transform 0.2s linear;}

.phone_screen{ display:block; height:488px; width:863px; position:absolute; left:123px; top:30px;}
.sea_bg{ display:block; height:100%; width:100%; position:absolute; left:0; top:0; z-index:1;}

.qr_code_wrap{ width:273px; position:absolute; left:50%; top:30px; margin-left:-136px; z-index:2; -moz-transition:-moz-transform 0.1s linear; -webkit-transition:-webkit-transform 0.2s linear;}
.qr_code_wrap .logo{ display:block; height:56px; width:273px; background: url(../images/webank_logo.png) no-repeat 0 0; position:absolute; left:50%; top:70px; margin-left:-136px; text-indent:-9999px; overflow:hidden;}
.qr_code_wrap .qr_code{display:block; height:205px; width:205px; position:absolute; left:50%; top:160px; margin-left:-102px; border:1px solid #ddd; text-indent:-9999px; overflow:hidden;}
.qr_code_wrap .qr_code .qr_code_img{ display:block; height:195px; width:195px; position: absolute; left:0px; top:0px; border:5px solid #fff;}
.qr_code_wrap .qr_code .code_cover{ display:block; height:53px; width:53px; position: absolute; left:50%; top:50%; margin:-26px 0 0 -26px; z-index:1; background:url(../images/qr_code_cover.png) no-repeat 0 0; background-size:contain; background-image:url(../images/qr_code_cover.png);}
.qr_code_wrap .scan_tips{ display:block; color:#353737; font-size:14px; font-family:"microsoft yahei"; position:absolute; top:390px; left:0px; text-align:center; width:100%;}

.sea_wrap{ display:block; height:100%; width:100%; position:absolute; left:0px; top:0px; z-index:2;}
.wave_wrap{ display:block; width:100%; height:100%; position:absolute; left:0px; top:0px; overflow:hidden;}
/*.wave_wrap .wave_1{ display:block; width:100%; height:100%; background:url(../images/sea_1.png) no-repeat center bottom; background-size:100% 148px; position:absolute; left:0px; bottom:0px; z-index:1;}*/

.wave_wrap .wave_1{ display:block; width:105%; height:100%; background:url(../images/sea_1.png) no-repeat center bottom; background-size:100% 145px; position:absolute; left:-10px; bottom:0px; z-index:2; opacity:0; -moz-transform:translate(-1px,-4px); -moz-animation:a_wave_1 1.6s 0.4s linear infinite; -webkit-transform:translate(-1px,-4px); -webkit-animation:a_wave_1 1.6s 0.4s linear infinite;}
.wave_wrap .wave_2{ display:block; width:105%; height:100%; background:url(../images/sea_1.png) no-repeat center bottom; background-size:100% 145px; position:absolute; left:-10px; bottom:0px; z-index:1; opacity:0; -moz-transform:translate(2px,4px); -moz-animation:a_wave_2 2s linear infinite; -webkit-transform:translate(2px,4px); -webkit-animation:a_wave_2 2s linear infinite;}

@-moz-keyframes a_wave_1{
	0%{ opacity:0; -moz-transform:translate(0px,-1px);}
	50%{ opacity:1; -moz-transform:translate(-1px,-1px);}
	100%{ opacity:0; -moz-transform:translate(0px,0px);}
}

@-moz-keyframes a_wave_2{
	0%{ opacity:0; -moz-transform:translate(0px,1px);}
	50%{ opacity:1; -moz-transform:translate(1px,1px);}
	100%{ opacity:0; -moz-transform:translate(0px,0px);}
}


@-webkit-keyframes a_wave_1{
	0%{ opacity:0; -webkit-transform:translate(0px,-1px);}
	50%{ opacity:1; -webkit-transform:translate(-1px,-1px);}
	100%{ opacity:0; -webkit-transform:translate(0px,0px);}
}

@-webkit-keyframes a_wave_2{
	0%{ opacity:0; -webkit-transform:translate(0px,1px);}
	50%{ opacity:1; -webkit-transform:translate(1px,1px);}
	100%{ opacity:0; -webkit-transform:translate(0px,0px);}
}

.ship_wrap{ display:block; height:174px; width:85px; position:absolute; left:150px; bottom:35px; z-index:2; -moz-animation:a_ship 2.5s linear infinite; -webkit-animation:a_ship 2.5s linear infinite;}
.ship_wrap .ship{ display:block; height:110px; width:85px; background:url(../images/ship.png) no-repeat 0 0; background-size:contain; position:absolute; left:0px; top:0px; z-index:1;}
.ship_wrap .ship_shadow{ display:block; height:110px; width:85px; background:url(../images/ship_shadow.png) no-repeat 0 0; background-size:contain; position:absolute; left:-1px; top:105px; opacity:0.6; -moz-animation:a_ship_shadow 5s linear infinite; -moz-transform-origin:50% 0%; -webkit-animation:a_ship_shadow 5s linear infinite; -webkit-transform-origin:50% 0%;}

@-moz-keyframes a_ship{
	0%{ -moz-transform:translate(0px,0px);}
	20%{ -moz-transform:translate(-1px,-1px);}
	40%{ -moz-transform:translate(-2px,0px);}
	55%{ -moz-transform:translate(-1px,0px);}
	70%{ -moz-transform:translate(-1px,-1px);}
	85%{ -moz-transform:translate(0px,1px);}
	100%{ -moz-transform:translate(0px,0px);}
}

@-moz-keyframes a_ship_shadow{
	0%{ -moz-transform:translate(0px,0px) scale(1,1) skew(0,0);}
	20%{ -moz-transform:translate(-1px,1px) scale(1,0.96) skew(3deg,0);}
	40%{ -moz-transform:translate(-1px,1px) scale(1,0.98) skew(-2deg,0);}
	55%{ -moz-transform:translate(-1px,1px) scale(1,0.96) skew(1deg,0);}
	70%{ -moz-transform:translate(-1px,1px) scale(1,0.99) skew(-1deg,0);}
	85%{ -moz-transform:translate(-1px,1px) scale(1,0.97) skew(1deg,0);}
	100%{ -moz-transform:translate(0px,0px) scale(1,1) skew(0,0);}
}


@-webkit-keyframes a_ship{
	0%{ -webkit-transform:translate(0px,0px);}
	20%{ -webkit-transform:translate(-1px,-1px);}
	40%{ -webkit-transform:translate(-2px,0px);}
	55%{ -webkit-transform:translate(-1px,0px);}
	70%{ -webkit-transform:translate(-1px,-1px);}
	85%{ -webkit-transform:translate(0px,1px);}
	100%{ -webkit-transform:translate(0px,0px);}
}

@-webkit-keyframes a_ship_shadow{
	0%{ -webkit-transform:translate(0px,0px) scale(1,1) skew(0,0);}
	20%{ -webkit-transform:translate(-1px,1px) scale(1,0.96) skew(3deg,0);}
	40%{ -webkit-transform:translate(-1px,1px) scale(1,0.98) skew(-2deg,0);}
	55%{ -webkit-transform:translate(-1px,1px) scale(1,0.96) skew(1deg,0);}
	70%{ -webkit-transform:translate(-1px,1px) scale(1,0.99) skew(-1deg,0);}
	85%{ -webkit-transform:translate(-1px,1px) scale(1,0.97) skew(1deg,0);}
	100%{ -webkit-transform:translate(0px,0px) scale(1,1) skew(0,0);}
}

.footer{ background:#363737; min-width:1100px; width:100%; height:90px; line-height:90px; color:#747b80; text-align:center; font-family:"Arial";}
.footer .link{color:#747b80;}

/*ie兼容*/
.version_ie .sea_bg{display:none;}
.version_ie .sea_wrap{background:url(../images/sea_bg_ie.jpg) no-repeat 0 0;}
.version_ie .wave_wrap{display:none;}
.version_ie .ship_wrap{display:none;}
.version_ie .logo_area{margin-top:45px;}
.version_ie .company_title{ top:0px;}
.version_ie .company_detail{ top:0px;}
.version_ie .company_detail .txt{margin-bottom:45px;}










