@charset "utf-8";

/* 浏览器样式清除 reset */
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
body, button, input, select, textarea{ font:12px/1.5 Tahoma,Arial,'宋体'; }
fieldset,img{border:0;}
ul,li{list-style:none;}
em,i{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
a:hover{ text-decoration:underline;}
input,button,select,textarea{outline:none; font-size:100%;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-variant: normal;}
input,select,img{ vertical-align:middle;}
legend{ display:none;}
textarea{resize:none;}
button {cursor:pointer;}

html,body{ height:100%; width:100%; overflow:hidden; position: relative;}

/*翻页逻辑*/
.wrap_prepare{ -webkit-transform:rotate(45deg); opacity:0; z-index:2;}
.wrap_show{ -webkit-transform:rotate(0deg); opacity:1; z-index:2;}
.wrap_hide{ -webkit-transform:rotate(-45deg); opacity:0; z-index:2;}

.wrap_after{ -webkit-transform:translate(0%,100%); opacity:1; z-index:2;}
.wrap_before{ -webkit-transform:translate(0%,-100%); opacity:1; z-index:2;}
.current{ -webkit-transform:translate(0%,0%); opacity:1; z-index:3;}
/*翻页逻辑*/

.ele_map{ display:block; height:50%; width:100%;}
.location_wrap{ display:block; font-size:14px; font-family:'microsoft yahei'; margin:50px 20px;}
.location_wrap .address{ margin-bottom:10px;}




.wrap_show .icon_wrap .icon_1{ -webkit-animation:a_icon_1 0.1s 0.9s linear both;}

@-webkit-keyframes a_icon_1{
	0%{ -webkit-transform: translate(-20px,0) scale(0.5); opacity:0;}
	100%{ -webkit-transform: translate(0,0) scale(1); opacity:1;}
}












/*ip 4s*/
@media all and (min-width:320px) and (max-height:416px){
	
}

@media all and (min-height:416px) and (max-height:500px){
	
}

@media all and (min-width:320px) and (min-height:504px){
	
}

@media all and (min-width:360px){
	
}

/*ip 6*/
@media all and (min-width:375px){
	
}

/*ip 6+*/
@media all and (min-width:414px){
	
}


/* 安卓兼容 吃饭杯水溢出兼容*/
.android_version .wrap_show .glass_2 .water{ -webkit-animation: none;}

/* 安卓兼容 4.4 吃饭杯水溢出兼容*/
.android_version_4_4 .wrap_show .glass_2 .water{ -webkit-animation: none;}



















