@charset "utf-8";

/* 浏览器样式清除 reset */
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
body, button, input, select, textarea{ font:12px/1.5 Tahoma,Arial,'宋体'; }
fieldset,img{border:0;}
ul,li{list-style:none;}
em,i{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
a:hover{ text-decoration:underline;}
input,button,select,textarea{outline:none; font-size:100%;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-variant: normal;}
input,select,img{ vertical-align:middle;}
legend{ display:none;}
textarea{resize:none;}
button {cursor:pointer;}

html,body{ height:100%; width:100%; overflow:hidden; position: relative;}

.btn_beep{ display:block; height:50px; width:280px; border:1px solid #3CC; color:#16b0b0; text-align:center; margin:50px auto; line-height:50px; font-size:16px; font-family:'Arial','microsoft yahei'; border-radius:5px; background:#c6fbfb; box-shadow:0px 1px 0px rgba(255,255,255,0.8) inset,0px 0px 3px rgba(0,0,0,0.1),0px 1px 2px rgba(0,0,0,0.2);}
.btn_beep:hover{ text-decoration:none;}
.btn_beep:active{ position:relative; top:1px; box-shadow:0px 1px 0px rgba(255,255,255,0.8) inset,0px 0px 3px rgba(0,0,0,0.1);}

.btn_thunder{ display:block; height:50px; width:280px; border:1px solid #F96; color:#a84a1a; text-align:center; margin:50px auto; line-height:50px; font-size:16px; font-family:'Arial','microsoft yahei'; border-radius:5px; background:#ffd8c4; box-shadow:0px 1px 0px rgba(255,255,255,0.8) inset,0px 0px 3px rgba(0,0,0,0.1),0px 1px 2px rgba(0,0,0,0.2);}
.btn_thunder:hover{ text-decoration:none;}
.btn_thunder:active{ position:relative; top:1px; box-shadow:0px 1px 0px rgba(255,255,255,0.8) inset,0px 0px 3px rgba(0,0,0,0.1);}

.page{ display:block; height:100%; width:100%; position:absolute; left:0px; top:0px; line-height:100%; text-align:center; font-size:20px; font-family:'Arial'; -webkit-transition:opacity 0.3s linear; transition:opacity 0.3s linear;}
.page_1{ background:#FFC; color:#e6cc20;}
.page_2{ background:#9FC; color:#34d283;}
.page .txt{ display:block; height:100px; width:200px; position:absolute; left:50%; margin-left:-100px; top:50%; margin-top:-50px; text-align:center;}

.page_show{ opacity:1;}
.page_hide{ opacity:0;}

.btn_set_currenttime{ display:block; height:50px; width:280px; border:1px solid #3CC; color:#16b0b0; text-align:center; line-height:50px; font-size:16px; font-family:'Arial','microsoft yahei'; border-radius:5px; background:#c6fbfb; box-shadow:0px 1px 0px rgba(255,255,255,0.8) inset,0px 0px 3px rgba(0,0,0,0.1),0px 1px 2px rgba(0,0,0,0.2); position:absolute; bottom:20px; left:50%; margin-left:-140px;}
.btn_set_currenttime:hover{ text-decoration:none;}
.btn_set_currenttime:active{ bottom:19px; box-shadow:0px 1px 0px rgba(255,255,255,0.8) inset,0px 0px 3px rgba(0,0,0,0.1);}

















