@charset "utf-8";

/* 浏览器样式清除 reset */
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
body, button, input, select, textarea{ font:12px/1.5 Tahoma,Arial,'宋体'; }
fieldset,img{border:0;}
ul,li{list-style:none;}
em,i{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
a:hover{ text-decoration:underline;}
a:focus,input,button,select,textarea{outline:none; font-size:100%;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-variant: normal;}
input,select,img{ vertical-align:middle;}
legend{ display:none;}
textarea{resize:none;}
button {cursor:pointer;}

html,body{ height:100%; width:100%; overflow:hidden;}

.qq_toy_wrap{}
.qq_toy_family_logo { display:block; height:44px; width:206px; background:url(../images/logo.png) no-repeat 0 0; background-size:contain; margin:20px 10px 10px;}
.qq_toy_family_logo .qq_toy_family_logo_txt{ display:none;}

.qq_toy_family_content{ padding:10px;}
.qq_toy_family_content .show_area_title{ display:none;}


.qq_toy_list{ display:block; width:100%;}
.qq_toy_list li{ float:left;}
.qq_toy_list li .toy_img{ display:block; height:28px; width:28px; margin-right:2px; margin-bottom:2px; opacity:0.2; -webkit-animation:a_img 2s linear infinite;}
.qq_toy_list .show_word .toy_img{ -webkit-animation: none; opacity:1;}
.qq_toy_show_word li .toy_img{-webkit-animation: none;}
.qq_toy_list .special_key_weak .toy_img{ -webkit-animation:a_img_2 2s linear infinite;}
.qq_toy_list .special_key_strong .toy_img{ -webkit-animation:a_img_3 2s linear infinite;}

@-webkit-keyframes a_img1{
	0%{ opacity:0.2;}
	10%{ opacity:1;}
	20%{ opacity:0.1;}
	30%{ opacity:0.3;}
	40%{ opacity:0.6;}
	50%{ opacity:0.1;}
	60%{ opacity:0.5;}
	70%{ opacity:0.1;}
	80%{ opacity:0.3;}
	90%{ opacity:0.2;}
	100%{ opacity:0;}
}

@-webkit-keyframes a_img{
	0%{ opacity:0.2;}
	50%{ opacity:0.05;}
	100%{ opacity:0.2;}
}

@-webkit-keyframes a_img_2{
	0%{ opacity:0.2;}
	50%{ opacity:0;}
	100%{ opacity:0.2;}
}

@-webkit-keyframes a_img_3{
	0%{ opacity:0.2;}
	50%{ opacity:0.4;}
	100%{ opacity:0.2;}
}














/*5s 640x1136分辨率兼容*/
@media all and (min-height:480px){
	
}






