html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline }
html { line-height: 1 }
ol, ul { list-style: none }
table { border-collapse: collapse; border-spacing: 0 }
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle }
q, blockquote { quotes: none }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none }
a img { border: none }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block }
li { list-style: none }
body, html { width: 100%; height: 100%; overflow: hidden; -webkit-tap-highlight-color: rgba(0,0,0,0) }
#tea_warp { -webkit-transition: margin-top 0.3s ease; width: 100%; height: 100% }
#tea_warp .md { position: relative; width: 100%; height: 100%; overflow: hidden; background: #da2a02 url(../images/bg_md.jpg) no-repeat; background-size: cover }
#tea_warp .md .logo { top: 20px; left: 15px; width: 102px; height: 37px; background-image: url(../images/bg_logo.png) }
#tea_warp .md .bottom_dir { left: 50%; margin-left: -17px; width: 34px; height: 29px; background-image: url(../images/bg_up.png); bottom: 16px; -webkit-animation: bottom_dir 0.5s 0 linear both infinite alternate }
#tea_warp .md span, #tea_warp .md a { position: absolute; display: block; background-size: cover; background-repeat: no-repeat }
#tea_warp .md span i, #tea_warp .md a i { position: absolute; display: block; background-size: cover }
#tea_warp .md .ribbon_one { top: 0px; width: 194px; height: 135px; background-image: url(../images/bg_ribbon_one.png); right: 0px }
#tea_warp .md .ribbon_two { width: 84px; height: 64.5px; background-image: url(../images/bg_ribbon_two.png); left: -9px; bottom: 50px }
#tea_warp .md .ribbon_three { top: 153px; left: 0px; width: 54.5px; height: 75px; background-image: url(../images/bg_ribbon_three.png) }
#tea_warp .md .ribbon_four { left: 0px; width: 65.5px; height: 75px; background-image: url(../images/bg_ribbon_four.png); bottom: 63px }
#tea_warp .md .ribbon_five { top: 0px; width: 126px; height: 81.5px; background-image: url(../images/bg_ribbon_five.png); right: 0px }
#tea_warp .md_page_one .page_one_qq { top: 120px; left: 50%; margin-left: -43px; width: 86px; height: 88.5px; background-image: url(../images/bg_say_qq.png); margin-left: -140px; opacity: 0 }
#tea_warp .md_page_one .page_one_happy { top: 137.5px; left: 50%; margin-left: -91.75px; width: 183.5px; height: 68px; background-image: url(../images/bg_happy.png); margin-left: -30px }
#tea_warp .md_page_one .page_one_crown { top: 110px; left: 50%; margin-left: -26.25px; width: 52.5px; height: 28px; background-image: url(../images/bg_crown.png) }
#tea_warp .md_page_one .page_one_crown i { width: 9px; height: 9px; background-color: #f7ee13; border-radius: 5px }
#tea_warp .md_page_one .page_one_crown .br1 { left: -1px; top: -6px }
#tea_warp .md_page_one .page_one_crown .br2 { left: 20px; top: -15px }
#tea_warp .md_page_one .page_one_crown .br3 { right: 0px; top: -10px }
#tea_warp .md_page_one .page_one_blessing { top: 215px; left: 50%; margin-left: -122.5px; width: 245px; height: 61.5px; background: url(../images/bg_blessing.png) no-repeat 0 0; background-size:contain; opacity:0; }
#tea_warp .md_page_one .page_one_slogan { left: 50%; margin-left: -113.75px; width: 227.5px; height: 115px; background: url(../images/bg_slogan.png) no-repeat 0 0; background-size:contain; bottom: 80px; opacity:0;}
#tea_warp .md_page_one .page_one_bottom_logo { width: 61.5px; height: 34px; background-image: url(../images/bg_bottom_logo.png); bottom: 27px; right: 21px }
#tea_warp .page0 .page_one_qq { -webkit-animation: a_icon_qq 2s 1s linear both infinite alternate; -webkit-transform-origin: 100% 100%; -webkit-transform: scale(0.1); opacity: 0 }
#tea_warp .page0 .page_one_blessing { -webkit-animation: a_md_opacity 0.4s 0.2s linear both }
#tea_warp .page0 .page_one_slogan { -webkit-animation: a_md_opacity 0.4s 0.6s linear both }
#tea_warp .page0 .page_one_crown .br1 { -webkit-animation: brd 1.5s 0.3s ease both infinite }
#tea_warp .page0 .page_one_crown .br2 { -webkit-animation: brd 1.5s 0.6s ease both infinite }
#tea_warp .page0 .page_one_crown .br3 { -webkit-animation: brd 1.5s 0.9s ease both infinite }
#tea_warp .md_page_two .page_two_horn { top: 110px; left: 0px; width: 45px; height: 43px; background-image: url(../images/bg_two_horn.png) }
#tea_warp .md_page_two .page_two_horn .loud { width: 20px; height: 37px; background-image: url(../images/bg_two_horn1.png); right: 0px }
#tea_warp .md_page_two .page_two_notice { top: 63px; left: 50%; margin-left: -119px; width: 238px; height: 77px; background-image: url(../images/bg_two_notice.png); margin-left: -109px }
#tea_warp .md_page_two .page_two_top20 { top: 140px; left: 50%; margin-left: -139.5px; width: 279px; height: 84px; background-image: url(../images/bg_two_top20.png); z-index: 1 }
#tea_warp .md_page_two .page_two_tel { top: 227.5px; left: 50%; margin-left: -73.5px; width: 147px; height: 143.5px; background-image: url(../images/bg_two_tel.png); opacity: 0; margin-left: -120px; -webkit-transform-origin: 50% 100%; z-index: 2 }
#tea_warp .md_page_two .page_two_qq { top: 220px; left: 50%; margin-left: -80px; width: 160px; height: 160.5px; background-image: url(../images/bg_two_qq.png); margin-left: -35px; -webkit-transform-origin: 0% 100%; opacity: 0 }
#tea_warp .md_page_two .page_two_qq .qqbody { top: 0px; left: 0px; width: 160px; height: 160.5px; background-image: url(../images/bg_two_qq.png); z-index: 1 }
#tea_warp .md_page_two .page_two_qq .hand { top: 84px; width: 35.5px; height: 27.5px; background-image: url(../images/bg_two_qq_hand.png); right: 5px; -webkit-transform-origin: 0% 70% }
#tea_warp .md_page_two .page_two_join { top: 350px; left: 50%; margin-left: -101.75px; width: 203.5px; height: 60px; background-image: url(../images/bg_two_join.png); opacity: 0; z-index: 3 }
#tea_warp .page1 .page_two_join { -webkit-animation: two_join 0.3s 0.1s linear both }
#tea_warp .page1 .page_two_tel { -webkit-animation: two_tel 0.2s 0.3s linear both }
#tea_warp .page1 .page_two_qq { -webkit-animation: two_qq 0.3s 0.6s linear both }
#tea_warp .page1 .page_two_qq .hand { -webkit-animation: two_qq_hand 1s 1.1s linear both infinite alternate }
#tea_warp .md_page_three .page_three_flowers { top: 70px; left: 50%; margin-left: -99.75px; width: 199.5px; height: 159.5px; background-image: url(../images/bg_three_flowers.png); opacity: 0 }
#tea_warp .md_page_three .page_three_flowers i { width: 9.5px; height: 9.5px; background-image: url(../images/bg_three_fl.png) }
#tea_warp .md_page_three .page_three_flowers .fl1 { top: 80px; left: 0px }
#tea_warp .md_page_three .page_three_flowers .fl2 { top: 0px; left: 100px }
#tea_warp .md_page_three .page_three_flowers .fl3 { top: 58px; right: 10px }
#tea_warp .md_page_three .page_three_flowers .fl4 { top: 88px; right: 5px }
#tea_warp .md_page_three .page_three_title { top: 165px; left: 50%; margin-left: -112.5px; width: 225px; height: 98px; background-image: url(../images/bg_three_text.png); z-index: 1 }
#tea_warp .md_page_three .page_three_vote { top: 280px; left: 50%; margin-left: -137.5px; width: 275px; height: 45px; background-image: url(../images/bg_three_text1.png) }
#tea_warp .md_page_three .page_three_vote i { width: 5.5px; height: 34px; background-image: url(../images/bg_three_line.png) }
#tea_warp .md_page_three .page_three_vote .line1 { top: -26px; left: 62px }
#tea_warp .md_page_three .page_three_vote .line2 { top: -24px; right: 53px }
#tea_warp .md_page_three .page_three_btn { opacity: 0; top: 340px; left: 50%; margin-left: -101.75px; width: 203.5px; height: 60px; background-image: url(../images/bg_three_join.png); z-index: 1 }
#tea_warp .page2 .page_three_flowers { -webkit-animation: three_flowers 0.2s 0.6s linear both; -webkit-transform-origin: 50% 100% }
#tea_warp .page2 .page_three_flowers .fl1 { -webkit-animation: three_fl 10s 1.7s linear both infinite }
#tea_warp .page2 .page_three_flowers .fl2 { -webkit-animation: three_fl 10s 1.2s linear both infinite }
#tea_warp .page2 .page_three_flowers .fl3 { -webkit-animation: three_fl 10s 1.5s linear both infinite }
#tea_warp .page2 .page_three_flowers .fl4 { -webkit-animation: three_fl 10s 1.7s linear both infinite }
#tea_warp .page2 .page_three_btn { -webkit-animation: three_btn 0.2s 0.2s linear both }
#tea_warp .page_one_md { background-image: url(../images/bg_four_one.jpg); background-position: center }
#tea_warp .page_one_md .round { top: 50px; left: 50%; margin-left: -92.75px; width: 185.5px; height: 185.5px; background-image: url(../images/bg_four_one_round.png); opacity: 0; z-index: 1 }
#tea_warp .page_one_md .roundShadow { top: 300px; left: 50%; margin-left: -89.5px; width: 179px; height: 27px; background-image: url(../images/bg_four_one_shadow.png); opacity: 0 }
#tea_warp .page_one_md .txt { top: 150px; left: 50%; margin-left: -131.75px; width: 263.5px; height: 144px; background-image: url(../images/bg_four_one_txt.png); opacity: 0; z-index: 2 }
#tea_warp .page_one_md .page_one_teacher { left: 50%; margin-left: -145.75px; width: 291.5px; height: 53px; background-image: url(../images/bg_four_one_teacher.png); bottom: 30px }
#tea_warp .page3 .round { -webkit-animation: four_one_round 0.4s 0s ease-out both }
#tea_warp .page3 .roundShadow { -webkit-animation: four_one_roundShadow 0.4s 0s ease-out both }
#tea_warp .page3 .txt { -webkit-animation: four_one_txt 0.3s 0.8s linear both }
#tea_warp .page_two_md { background-image: url(../images/bg_four_two.jpg); background-position: center }
#tea_warp .page_two_md .page_two_md_pic1 { top: 26px; left: 50%; margin-left: -118.25px; width: 236.5px; height: 161.5px; background-image: url(../images/bg_four_pic1.png) }
#tea_warp .page_two_md .page_two_md_pic2 { top: 210px; left: 50%; margin-left: -136.75px; width: 273.5px; height: 167.5px; background-image: url(../images/bg_four_pic2.png) }
#tea_warp .page_two_md .page_two_md_pic3 { top: 392.5px; left: 50%; margin-left: -129.75px; width: 259.5px; height: 156.5px; background-image: url(../images/bg_four_pic3.png) }
#tea_warp .page_three_md { background-image: url(../images/bg_four_three.jpg); background-position: center }
#tea_warp .page_three_md .page_two_md_pic3 { top: -105px; left: 50%; margin-left: -129.75px; width: 259.5px; height: 156.5px; background-image: url(../images/bg_four_pic3.png) }
#tea_warp .page_three_md .page_two_md_pic4 { top: 78px; left: 50%; margin-left: -127px; width: 254px; height: 157.5px; background-image: url(../images/bg_four_pic4.png) }
#tea_warp .page_three_md .page_two_md_pic5 { top: 253.5px; left: 50%; margin-left: -131.5px; width: 263px; height: 120px; background-image: url(../images/bg_four_pic5.png) }
#tea_warp .md_page_five .page_five_teacher { top: 64px; left: 50%; margin-left: -100px; width: 200px; height: 64.5px; background-image: url(../images/bg_five_title.png) }
#tea_warp .md_page_five .page_five_time { top: 135px; left: 50%; margin-left: -104px; width: 208px; height: 44.5px; background-image: url(../images/bg_five_time.png) }
#tea_warp .md_page_five .page_five_light { opacity: 0; top: 225px; left: 50%; margin-left: -40.75px; width: 81.5px; height: 123px; background-image: url(../images/bg_five_light.png) }
#tea_warp .md_page_five .page_five_light .right { top: 25px; left: 21.5px; width: 0; height: 35.5px; background-image: url(../images/bg_five_light3.png) }
#tea_warp .md_page_five .page_five_sun { opacity: 0; top: 200px; left: 50%; margin-left: -63.5px; width: 127px; height: 110.5px; background-image: url(../images/bg_five_light2.png) }
#tea_warp .md_page_five .page_five_text { left: 50%; margin-left: -74.75px; width: 149.5px; height: 58.5px; background-image: url(../images/bg_five_text.png); bottom: 77px }
#tea_warp .page6 .page_five_light { -webkit-animation: five_light 0.2s 0s linear both }
#tea_warp .page6 .page_five_light .right { -webkit-animation: five_right 0.1s 0.4s linear both }
#tea_warp .page6 .page_five_sun { -webkit-animation: five_sun 1s 1s linear both }
#tea_warp .md_page_six .page_six_title { top: 77px; left: 50%; margin-left: -96px; width: 192px; height: 70px; background-image: url(../images/bg_six_text.png) }
#tea_warp .md_page_six .page_six_one { top: 180px; left: 50%; margin-left: -86.25px; width: 172.5px; height: 47px; background-image: url(../images/bg_six_txt1.png); margin-left: -50px; opacity: 0 }
#tea_warp .md_page_six .page_six_two { top: 238.5px; left: 50%; margin-left: -79.25px; width: 158.5px; height: 47.5px; background-image: url(../images/bg_six_txt2.png); margin-left: -140px; opacity: 0 }
#tea_warp .md_page_six .page_six_three { top: 281px; left: 50%; margin-left: -87.5px; width: 175px; height: 48.5px; background-image: url(../images/bg_six_txt3.png); margin-left: -43px; opacity: 0 }
#tea_warp .md_page_six .page_six_four { top: 332.5px; left: 50%; margin-left: -95.75px; width: 191.5px; height: 46px; background-image: url(../images/bg_six_txt4.png); margin-left: -113px; opacity: 0 }
#tea_warp .md_page_six .page_six_five { top: 390px; left: 50%; margin-left: -86.25px; width: 172.5px; height: 47px; background-image: url(../images/bg_six_txt5.png); margin-left: -43px; opacity: 0 }
#tea_warp .md_page_six .page_six_dir1 { top: 238.5px; left: 50%; margin-left: -12.75px; width: 25.5px; height: 19.5px; background-image: url(../images/bg_six_dir1.png); margin-left: 30px; opacity: 0 }
#tea_warp .md_page_six .page_six_dir2 { top: 296px; left: 50%; margin-left: -14px; width: 28px; height: 16.5px; background-image: url(../images/bg_six_dir2.png); margin-left: -103px; opacity: 0 }
#tea_warp .md_page_six .page_six_dir3 { top: 337.5px; left: 50%; margin-left: -10.25px; width: 20.5px; height: 15.5px; background-image: url(../images/bg_six_dir3.png); margin-left: 90px; opacity: 0 }
#tea_warp .md_page_six .page_six_dir4 { top: 387.5px; left: 50%; margin-left: -9px; width: 18px; height: 18.5px; background-image: url(../images/bg_six_dir4.png); margin-left: -80px; opacity: 0 }
#tea_warp .page7 .page_six_one { -webkit-animation: six_txt_one 0.1s 0s linear both }
#tea_warp .page7 .page_six_dir1 { -webkit-animation: six_dir_one 0.1s 0.1s linear both }
#tea_warp .page7 .page_six_two { -webkit-animation: six_txt_two 0.1s 0.2s linear both }
#tea_warp .page7 .page_six_dir2 { -webkit-animation: six_dir_two 0.1s 0.3s linear both }
#tea_warp .page7 .page_six_three { -webkit-animation: six_txt_three 0.1s 0.4s linear both }
#tea_warp .page7 .page_six_dir3 { -webkit-animation: six_dir_three 0.1s 0.5s linear both }
#tea_warp .page7 .page_six_four { -webkit-animation: six_txt_four 0.1s 0.6s linear both }
#tea_warp .page7 .page_six_dir4 { -webkit-animation: six_dir_four 0.1s 0.7s linear both }
#tea_warp .page7 .page_six_five { -webkit-animation: six_txt_five 0.1s 0.8s linear both }
#tea_warp .md_page_seven .page_seven_flows1 { opacity: 0; top: 60px; left: 50%; margin-left: -52px; width: 104px; height: 98px; background-image: url(../images/bg_seven_flows1.png) }
#tea_warp .md_page_seven .page_seven_txt1 { top: 140px; left: 0px; width: 266.5px; height: 118.5px; background-image: url(../images/bg_seven_txt1.png); z-index: 1 }
#tea_warp .md_page_seven .page_seven_txt2 { top: 250px; left: 0px; width: 258.5px; height: 152px; background-image: url(../images/bg_seven_txt2.png) }
#tea_warp .md_page_seven .page_seven_flows2 { opacity: 0; top: 260px; left: 50%; margin-left: -19.75px; width: 39.5px; height: 56.5px; background-image: url(../images/bg_seven_flows2.png); margin-left: 25px }
#tea_warp .md_page_seven .page_seven_btn { width: 100%; height: 54px; background: #58bf13; bottom: 0px; left: 0px; text-align: center }
#tea_warp .md_page_seven .page_seven_btn b { margin-top: 15px; display: inline-block; width: 261px; height: 23px; background-image: url(../images/bg_seven_more.png); background-repeat: no-repeat; background-size: cover }
#tea_warp .page8 .page_seven_flows1 { -webkit-animation: seven_flows_one 0.2s 0s ease-out both; -webkit-transform-origin: 50% 100%; -webkit-transform: scale(0, 0) }
#tea_warp .page8 .page_seven_flows2 { -webkit-animation: seven_flows_one 0.2s 0.4s ease-out both; -webkit-transform-origin: 50% 100%; -webkit-transform: scale(0, 0) }
@-webkit-keyframes bottom_dir { 100% {
bottom:30px
}
}
@-webkit-keyframes ribbon_two { 25% {
-webkit-transform:rotate(-10deg)
}
50% {
-webkit-transform:rotate(0deg)
}
100% {
-webkit-transform:rotate(10deg)
}
}
@-webkit-keyframes a_icon_qq { 0% {
-webkit-transform:scale(0.1) rotate(0deg);
opacity:0
}
20% {
-webkit-transform:scale(1.1) rotate(10deg);
opacity:1
}
25% {
-webkit-transform:scale(0.95) rotate(-5deg);
opacity:1
}
40% {
-webkit-transform:scale(1.05) rotate(5deg);
opacity:1
}
50% {
-webkit-transform:scale(1) rotate(0deg);
opacity:1
}
100% {
-webkit-transform:scale(1) rotate(0deg);
opacity:1
}
}
@-webkit-keyframes happy_teacher { 0 {
margin-left:160px;
opacity:0
}
90% {
margin-left:-60px;
opacity:1
}
100% {
margin-left:-45px;
opacity:1
}
}
@-webkit-keyframes a_md_opacity { 
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes slogan { 0% {
-webkit-transform:scale(0.2, 0.2) rotate(180deg);
opacity:0;
margin-left:50px
}
60% {
-webkit-transform:scale(0.5, 0.5) rotate(90deg);
opacity:0.5;
margin-left:-250px;
bottom:40px
}
90% {
-webkit-transform:scale(1, 1) rotate(0deg);
opacity:1;
margin-left:-103px;
bottom:111px
}
100% {
margin-left:-113px;
-webkit-transform:scale(1, 1) rotate(0deg);
opacity:1;
bottom:111px
}
}
@-webkit-keyframes crown { 90% {
top:110px;
opacity:1
}
100% {
top:106px;
opacity:1
}
}
@-webkit-keyframes brd { 0% {
opacity:0.3
}
100% {
opacity:1
}
}
@-webkit-keyframes two_horn { from {
left:-50px;
opacity:0
}
to { left: 0px; opacity: 1 }
}
@-webkit-keyframes two_loud { 0% {
opacity:1
}
50% {
opacity:0
}
100% {
opacity:1
}
}
@-webkit-keyframes two_notice { 0 {
margin-left:160px;
opacity:0
}
90% {
margin-left:-115px;
opacity:1
}
100% {
margin-left:-105px;
opacity:1
}
}
@-webkit-keyframes tow_top20 { to {
-webkit-transform:rotate(0deg);
opacity:1
}
}
@-webkit-keyframes two_join { from {
opacity:0
}
to { opacity: 1 }
}
@-webkit-keyframes two_tel { from {
-webkit-transform:scale(0, 0);
opacity:0
}
to { -webkit-transform: scale(1, 1); opacity: 1 }
}
@-webkit-keyframes two_qq { 0% {
-webkit-transform:scale(0, 0);
opacity:0
}
100% {
-webkit-transform:scale(1, 1);
opacity:1
}
}
@-webkit-keyframes two_qq_hand { 0% {
-webkit-transform:rotate(-15deg)
}
100% {
-webkit-transform:rotate(15deg)
}
}
@-webkit-keyframes three_title { from {
-webkit-transform:scale(5, 5);
top:190px;
opacity:0
}
to { -webkit-transform: scale(1, 1); top: 165px; opacity: 1 }
}
@-webkit-keyframes three_flowers { from {
-webkit-transform:scale(0, 0);
top:85px;
opacity:0
}
to { -webkit-transform: scale(1, 1); top: 70px; opacity: 1 }
}
@-webkit-keyframes three_fl { from {
-webkit-transform:rotate(0deg)
}
to { -webkit-transform: rotate(360deg) }
}
@-webkit-keyframes three_vote { 0% {
top:250px;
opacity:0
}
100% {
top:280px;
opacity:1
}
}
@-webkit-keyframes three_btn { from {
opacity:0
}
to { opacity: 1 }
}
@-webkit-keyframes four_one_round { 0% {
top:-180px;
opacity:0
}
50% {
top:125px;
opacity:1
}
80% {
top:100px;
opacity:1
}
100% {
top:125px;
opacity:1
}
}
@-webkit-keyframes four_one_roundShadow { 0% {
opacity:0;
-webkit-transform:scale(0.5, 0.5)
}
50% {
opacity:1;
-webkit-transform:scale(1, 1)
}
80% {
opacity:1;
-webkit-transform:scale(0.5, 0.5)
}
100% {
opacity:1;
-webkit-transform:scale(1, 1)
}
}
@-webkit-keyframes four_one_txt { from {
-webkit-transform:scale(0, 0);
opacity:0
}
to { -webkit-transform: scale(1, 1); opacity: 1 }
}
@-webkit-keyframes five_light { from {
opacity:0;
top:245px
}
to { opacity: 1; top: 225px }
}
@-webkit-keyframes five_right { from {
width:0px
}
to { width: 42px }
}
@-webkit-keyframes five_sun { 0% {
opacity:0
}
20% {
opacity:1
}
40% {
opacity:0
}
60% {
opacity:1
}
80% {
opacity:0
}
100% {
opacity:1
}
}
@-webkit-keyframes six_txt_one { from {
margin-left:-100px;
opacity:0
}
to { margin-left: -50px; opacity: 1 }
}
@-webkit-keyframes six_dir_one { from {
margin-left:40px;
opacity:0;
top:218px
}
to { margin-left: 30px; opacity: 1; top: 238px }
}
@-webkit-keyframes six_txt_two { from {
margin-left:-90px;
opacity:0
}
to { margin-left: -140px; opacity: 1 }
}
@-webkit-keyframes six_dir_two { from {
margin-left:-113px;
opacity:0;
top:276px
}
to { margin-left: -103px; opacity: 1; top: 296px }
}
@-webkit-keyframes six_txt_three { from {
margin-left:-93px;
opacity:0
}
to { margin-left: -43px; opacity: 1 }
}
@-webkit-keyframes six_dir_three { from {
margin-left:100px;
opacity:0;
top:327px
}
to { margin-left: 90px; opacity: 1; top: 337px }
}
@-webkit-keyframes six_txt_four { from {
margin-left:-53px;
opacity:0
}
to { margin-left: -113px; opacity: 1 }
}
@-webkit-keyframes six_dir_four { from {
margin-left:-110px;
opacity:0;
top:377px
}
to { margin-left: -100px; opacity: 1; top: 387px }
}
@-webkit-keyframes six_txt_five { from {
margin-left:-83px;
opacity:0
}
to { margin-left: -33px; opacity: 1 }
}
@-webkit-keyframes seven_txt_one { from {
left:-267px;
opacity:0
}
to { left: 0px; opacity: 1 }
}
@-webkit-keyframes seven_txt_two { from {
left:-259px;
opacity:0
}
to { left: 0px; opacity: 1 }
}
@-webkit-keyframes seven_flows_one { from {
-webkit-transform:scale(0, 0);
opacity:0
}
to { -webkit-transform: scale(1, 1); opacity: 1 }
}
@media (min-height: 400px) and (max-height: 480px) {
#tea_warp .md .page_two_notice { -webkit-transform: scale(0.8, 0.8); top: 45px; margin-left: -130px }
#tea_warp .md .page_two_top20 { -webkit-transform: scale(0.8, 0.8); top: 110px }
#tea_warp .md .page_two_horn { top: 85px }
#tea_warp .md .page_two_scal { -webkit-transform: scale(0.8, 0.8); position: relative; top: 20px }
#tea_warp .md .page_three_scal { -webkit-transform: scale(0.8, 0.8); position: relative; top: 20px }
#tea_warp .md .page_three_button { -webkit-transform: scale(0.9, 0.9); position: relative; top: -20px }
#tea_warp .page_one_md { background-size: 320px 416px }
#tea_warp .page_one_all { position: relative; top: -30px }
#tea_warp .page_two_md .page_two_md_pic1 { -webkit-transform: scale(0.9, 0.9); top: 10px }
#tea_warp .page_two_md .page_two_md_pic2 { -webkit-transform: scale(0.9, 0.9); top: 160px }
#tea_warp .page_two_md .page_two_md_pic3 { -webkit-transform: scale(0.9, 0.9); top: 310px }
#tea_warp .page_three_md .page_two_md_pic3 { -webkit-transform: scale(0.9, 0.9) }
#tea_warp .page_three_md .page_two_md_pic4 { -webkit-transform: scale(0.9, 0.9); top: 60px }
#tea_warp .page_three_md .page_two_md_pic5 { -webkit-transform: scale(0.9, 0.9); top: 220px }
#tea_warp .page_two_md { background-size: 320px 416px }
#tea_warp .page_three_md { background-size: 320px 416px }
#tea_warp .md .page_five_text { opacity: 0 }
#tea_warp .md_page_six .ribbon_two { display: none }
#tea_warp .md .page_seven_scal { -webkit-transform: scale(0.8, 0.8) }
#tea_warp .md .page_six_title { top: 88px }
#tea_warp .md .page_seven_scal { -webkit-transform: scale(0.9, 0.9); position: relative; left: -20px }
}
