@charset "utf-8";

/* 浏览器样式清除 reset */
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
body, button, input, select, textarea{ font:12px/1.5 Tahoma,Arial,'宋体'; }
fieldset,img{border:0;}
ul,li{list-style:none;}
em,i{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
a:hover{ text-decoration:underline;}
a:focus,input,button,select,textarea{outline:none; font-size:100%;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-variant: normal;}
input,select,img{ vertical-align:middle;}
legend{ display:none;}
textarea{resize:none;}
button {cursor:pointer;}

html,body{ height:100%; width:100%; overflow:hidden;}
body{ background:#5a5a5a;}

.cover_wrap{ height:100%; width:100%; background:#08090e url(../images/index_bg.jpg) no-repeat center top; background-size:320px 416px; overflow:hidden; position:relative; -webkit-transition:top 0.3s ease,opacity 0.3s ease; z-index:2;}
.cover_wrap .building_1{ display:block;  height:140px; width:185px;  position:absolute; left:50%; margin-left:-85px; top:66px; overflow:hidden;}
.cover_wrap .building_1 .b_body{display:block; background: url(../images/building_bg2.png) no-repeat 0 0; height:140px; width:185px; background-size:contain; position:absolute; left:0px; top:0px; opacity:0;}

.cover_wrap .main_title{ display:block; height:50px; width:254px; background:url(../images/logo_title.png) no-repeat 0 0; background-size:contain; position:absolute; left:50%; bottom:100px; margin-left:-127px; text-indent:-9999px; overflow:hidden; z-index:2; opacity:0; -webkit-transform:translate(0,-500px);}

@-webkit-keyframes a_main_title{
	0%{ -webkit-transform:translate(0,-500px); opacity:0;}
	5%{ -webkit-transform:translate(0,-500px); opacity:1;}
	80%{ -webkit-transform:translate(0,10px); opacity:1;}
	90%{ -webkit-transform:translate(0,-5px); opacity:1;}
	100%{ -webkit-transform:translate(0,0); opacity:1;}
}

.cover_wrap .logo_tencent{ display:block; height:9px; width:68px; background:url(../images/logo_tencent.png) no-repeat 0 0; background-size:contain; position:absolute; left:50%; top:10px; margin-left:-34px; text-indent:-9999px; overflow:hidden; z-index:2;}
.cover_wrap .hr_title{ display:block; height:12px; width:68px; background:url(../images/hr_title.png) no-repeat 0 0; background-size:contain; position:absolute; left:50%; bottom:160px; margin-left:-108px; text-indent:-9999px; overflow:hidden; z-index:2; opacity:0; -webkit-transform:translate(0,-500px);}
.cover_wrap .txt_wrap{ color:#efeff0; font-size:14px; font-family:'microsoft yahei'; width:275px; position:absolute; left:50%; margin-left:-137px; bottom:45px; text-align:center; z-index:2;}
.cover_wrap .txt_wrap p{ position:absolute; left:0px; bottom:0px; width:275px; opacity:0;}

@-webkit-keyframes a_txt{
	0%{ -webkit-transform:translate(0,10px); opacity:0;}
	15%{ -webkit-transform:translate(0,0px); opacity:1;}
	85%{ -webkit-transform:translate(0,0px); opacity:1;}
	100%{ -webkit-transform:translate(0,-10px); opacity:0;}
}

@-webkit-keyframes a_txt_last{
	0%{ -webkit-transform:translate(0,10px); opacity:0;}
	100%{ -webkit-transform:translate(0,0px); opacity:1;}
}

@-webkit-keyframes a_opacity{
	0%{ opacity:0;}
	100%{ opacity:1;}
}

.cover_wrap .logo_teg{ display:block; height:9px; width:70px; background:url(../images/logo_teg.png) no-repeat 0 0; background-size:contain; position:absolute; right:15px; bottom:12px; text-indent:-9999px; overflow:hidden; z-index:2;}
.cover_wrap .arrow_up{ bottom:20px;}

.penguin_wrap{ display:block; height:88px; width:178px; position:absolute; left:50%; top:114px; margin-left:-89px; z-index:1;}
.penguin_wrap .power_gas{ display:block; height:120px; width:216px; background:url(../images/power_gas.png) no-repeat 0 0; background-size:contain; position:absolute; left:-18px; top:-21px; -webkit-transform-origin:50% 100%; -webkit-animation:a_power_gas 1.8s linear alternate infinite;}

.penguin_wrap .penguin_1{ display:block; height:68px; width:51px; position:absolute; left:0px; bottom:4px; z-index:1;}
.penguin_wrap .penguin_1 .p_body{display:block; height:68px; width:51px; background:url(../images/qq_1.png) no-repeat 0 0; background-size:contain; position:absolute; left:0px; bottom:0px; opacity:0;}
.penguin_wrap .penguin_1 .p_shadow{display:block; height:225px; width:165px; background:url(../images/qq_1_shadow.png) no-repeat 0 0; background-size:contain; position:absolute; left:-131px; top:60px; -webkit-transform-origin:80% 0%; opacity:0;}

.penguin_wrap .penguin_2{ display:block; height:69px; width:60px; position:absolute; left:47px; bottom:0px; z-index:1;}
.penguin_wrap .penguin_2 .p_body{display:block; height:69px; width:60px; background:url(../images/qq_2.png) no-repeat 0 0; background-size:contain; position:absolute; left:0px; bottom:0px; opacity:0;}
.penguin_wrap .penguin_2 .p_shadow{display:block; height:210px; width:150px; background:url(../images/qq_2_shadow.png) no-repeat 0 0; background-size:contain; position:absolute; left:-87px; top:58px; -webkit-transform-origin:70% 0%; opacity:0;}

.penguin_wrap .penguin_3{ display:block; height:85px; width:41px; position:absolute; left:90px; bottom:0px; z-index:1;}
.penguin_wrap .penguin_3 .p_body{display:block; height:85px; width:41px; background:url(../images/qq_3.png) no-repeat 0 0; background-size:contain; position:absolute; left:0px; bottom:0px; opacity:0;}
.penguin_wrap .penguin_3 .p_shadow{display:block; height:220px; width:115px; background:url(../images/qq_3_shadow.png) no-repeat 0 0; background-size:contain; position:absolute; left:-8px; top:78px; -webkit-transform-origin:70% 0%; opacity:0;}

.penguin_wrap .penguin_4{ display:block; height:79px; width:48px; position:absolute; left:130px; bottom:1px; z-index:1;}
.penguin_wrap .penguin_4 .p_body{display:block; height:79px; width:48px; background:url(../images/qq_4.png) no-repeat 0 0; background-size:contain; position:absolute; left:0px; bottom:0px; opacity:0;}
.penguin_wrap .penguin_4 .p_shadow{display:block; height:220px; width:171px; background:url(../images/qq_4_shadow.png) no-repeat 0 0; background-size:contain; position:absolute; left:7px; top:73px; opacity:0;}

@-webkit-keyframes a_penguin{
	0%{ -webkit-transform:translate(0,-400px); opacity:0;}
	10%{ -webkit-transform:translate(0,-400px); opacity:1;}
	80%{ -webkit-transform:translate(0,2px); opacity:1;}
	90%{ -webkit-transform:translate(0,-1px); opacity:1;}
	100%{ -webkit-transform:translate(0,0); opacity:1;}
}

@-webkit-keyframes a_penguin_1_shadow{
	0%{ -webkit-transform:translate(-200px,200px); opacity:0;}
	5%{ -webkit-transform:translate(-200px,200px); opacity:1;}
	100%{ -webkit-transform:translate(0,0); opacity:1;}
}

@-webkit-keyframes a_penguin_2_shadow{
	0%{ -webkit-transform:translate(-100px,200px); opacity:0;}
	5%{ -webkit-transform:translate(-100px,200px); opacity:1;}
	100%{ -webkit-transform:translate(0,0); opacity:1;}
}

@-webkit-keyframes a_penguin_3_shadow{
	0%{ -webkit-transform:translate(10px,200px); opacity:0;}
	5%{ -webkit-transform:translate(10px,200px); opacity:1;}
	100%{ -webkit-transform:translate(0,0); opacity:1;}
}

@-webkit-keyframes a_penguin_4_shadow{
	0%{ -webkit-transform:translate(100px,200px); opacity:0;}
	5%{ -webkit-transform:translate(100px,200px); opacity:1;}
	100%{ -webkit-transform:translate(0,0); opacity:1;}
}

@-webkit-keyframes a_power_gas{
	0%{ -webkit-transform:skew(0,0) scale(1,1);}
	20%{ -webkit-transform:skew(-2deg,0) scale(1,1.02);}
	40%{ -webkit-transform:skew(2deg,0) scale(1,0.98);}
	60%{ -webkit-transform:skew(-1deg,0) scale(1,1.01);}
	80%{ -webkit-transform:skew(1deg,0) scale(1,0.99);}
	100%{ -webkit-transform:skew(0,0) scale(1,1);}
}

.arrow_up{ display:block; height:10px; width:20px; background:url(../images/arrow_bg.png) no-repeat 0 0; background-size:contain; position:absolute; left:50%; margin-left:-10px; bottom:70px; text-indent:-9999px; overflow:hidden; -webkit-animation:a_arrow 1.2s linear infinite; z-index:99;}

@-webkit-keyframes a_arrow{
	0%{ -webkit-transform:translate(0,0px);}
	25%{ -webkit-transform:translate(0,-3px);}
	50%{ -webkit-transform:translate(0,1px);}
	75%{ -webkit-transform:translate(0,-1px);}
	100%{ -webkit-transform:translate(0,0px);}
}

@-webkit-keyframes a_time_hook_2{
	0%{ -webkit-transform:scale(1,0.4); opacity:0;}
	100%{ -webkit-transform:scale(1); opacity:1;}
}

.time_hook_2{ -webkit-transform-origin:50% 100%; display:block; height:120px; width:216px; opacity:0;}

.wrap_show .building_1 .b_body{-webkit-animation:a_opacity 0.5s linear both;}
.wrap_show .penguin_wrap .penguin_1 .p_body{ -webkit-animation:a_penguin 0.3s 0.5s ease-in both;}
.wrap_show .penguin_wrap .penguin_1 .p_shadow{ -webkit-animation:a_penguin_1_shadow 0.3s 0.5s ease-in both;}
.wrap_show .penguin_wrap .penguin_2 .p_body{-webkit-animation:a_penguin 0.3s 0.6s ease-in both;}
.wrap_show .penguin_wrap .penguin_2 .p_shadow{-webkit-animation:a_penguin_2_shadow 0.3s 0.6s ease-in both;}
.wrap_show .penguin_wrap .penguin_3 .p_body{ -webkit-animation:a_penguin 0.3s 0.7s ease-in both;}
.wrap_show .penguin_wrap .penguin_3 .p_shadow{ -webkit-animation:a_penguin_3_shadow 0.3s 0.7s ease-in both;}
.wrap_show .penguin_wrap .penguin_4 .p_body{ -webkit-animation:a_penguin 0.3s 0.8s ease-in both;}
.wrap_show .penguin_wrap .penguin_4 .p_shadow{ -webkit-animation:a_penguin_4_shadow 0.3s 0.8s ease-in both;}
.wrap_show .time_hook_2{ -webkit-animation:a_time_hook_2 0.1s 1.2s linear both;}
.wrap_show .main_title{-webkit-animation:a_main_title 0.3s 1.1s linear both;}
.wrap_show .hr_title{ -webkit-animation:a_main_title 0.3s 1.2s linear both;}
.wrap_show .txt_wrap .txt_1{ -webkit-animation:a_txt 3s 1.7s linear both;}
.wrap_show .txt_wrap .txt_2{ -webkit-animation:a_txt_last 0.3s 5s linear both;}
.wrap_show .time_hook{ -webkit-animation:a_opacity 0.5s 5.5s linear both;}
.wrap_show .brush .brush_left{ -webkit-animation:a_brush_left 0.3s 0.3s linear both;}
.wrap_show .brush .brush_right{ -webkit-animation:a_brush_left 0.3s 0.6s linear both;}
.wrap_show .stamp{ -webkit-animation:a_stamp 0.2s 0.9s linear both;}

@-webkit-keyframes a_brush_left{
	0%{ height:0px;}
	100%{ height:98px;}
}

@-webkit-keyframes a_stamp{
	0%{ -webkit-transform:scale(9); opacity:0;}
	100%{ -webkit-transform:scale(1); opacity:1;}
}

.con_wrap{ display:block; height:100%; width:100%; /*background:url(../images/bg.jpg) no-repeat center 0; background-size:100% 100%;*/ position:absolute; left:0px; top:0px; overflow:hidden; -webkit-transition:top 0.3s ease,opacity 0.3s ease; z-index:1;}
.poster_wrap{ display:block; height:336px; width:239px; background: url(../images/poster_top_bg.jpg) no-repeat 0 0; background-size:contain; position:absolute; left:50%; margin-left:-119px; top:10px; box-shadow:-2px 2px 3px rgba(0,0,0,0.3); -webkit-transition:margin-left 0.3s ease,opacity 0.3s ease; opacity:1; z-index:1;}
.poster_wrap .poster_con{ display:block; position:relative; z-index:1;}
.poster_wrap .title{ display:none;}
.poster_wrap .penguin_poster{ display: block; height:157px; width:213px; background:url(../images/penguin_poster_1.png) no-repeat 0 0; background-size:contain; position:absolute; left:13px; top:61px;}
.poster_wrap .penguin_poster_1{ background-image:url(../images/penguin_poster_1.png);}
.poster_wrap .penguin_poster_2{ background-image:url(../images/penguin_poster_2.png);}
.poster_wrap .penguin_poster_3{ background-image:url(../images/penguin_poster_3.png);}
.poster_wrap .penguin_poster_4{ background-image:url(../images/penguin_poster_4.png);}

.poster_wrap .name{ display:block; height:71px; width:43px; background:url(../images/name_1.png) no-repeat 0 0; background-size:contain; position:absolute; left:12px; top:222px; text-indent:-9999px;}
.poster_wrap .name_1{ background-image:url(../images/name_1.png);}
.poster_wrap .name_2{ background-image:url(../images/name_2.png);}
.poster_wrap .name_3{ background-image:url(../images/name_3.png);}
.poster_wrap .name_4{ background-image:url(../images/name_4.png);}

.poster_wrap .detail{ display:block; height:68px; width:164px; background:url(../images/detail_1.png) no-repeat 0 0; background-size:contain; position:absolute; left:61px; top:224px; text-indent:-9999px;}
.poster_wrap .detail_1{ background-image:url(../images/detail_1.png);}
.poster_wrap .detail_2{ background-image:url(../images/detail_2.png);}
.poster_wrap .detail_3{ background-image:url(../images/detail_3.png);}
.poster_wrap .detail_4{ background-image:url(../images/detail_4.png);}

.poster_wrap .stamp{ display:block; height:58px; width:59px; background:url(../images/stamp.png) no-repeat 0 0; background-size:contain; position:absolute; left:12px; top:6px; text-indent:-9999px; overflow:hidden; opacity:0; -webkit-transform:scale(5);}
.poster_wrap .brush{ display:block;  position:absolute; background-size:contain; z-index:2;}
.poster_wrap .brush .brush_left{ display:block; width:26px; height:98px; position:absolute; left:0px; bottom:0px; background:url(../images/brush_1.png) no-repeat 0 bottom; background-size:61px 98px;}
.poster_wrap .brush .brush_right{ display:block; width:35px; height:98px; position:absolute; left:26px; top:0px; background:url(../images/brush_1.png) no-repeat -26px 0; background-size:61px 98px;}
.poster_wrap .brush_1{height:98px; width:61px;/* background-image:url(../images/brush_1.png);*/ left:4px; top:210px;}
/*.poster_wrap .brush_2{height:97px; width:67px; background-image:url(../images/brush_2.png); left:0px; top:210px;}
.poster_wrap .brush_3{height:95px; width:58px; background-image:url(../images/brush_3.png); left:4px; top:210px;}
.poster_wrap .brush_4{height:98px; width:62px; background-image:url(../images/brush_4.png); left:2px; top:206px;}*/

.poster_wrap .reward{ display:block; height:25px; width:214px; background:url(../images/reward.png) no-repeat 0 0; background-size:contain; position:absolute; left:12px; top:298px;}

.tab_wrap{ display:block; height:54px; width:320px; position:absolute; bottom:5px; left:50%; margin-left:-160px; z-index:3; opacity:1; -webkit-transition:opacity 0.3s linear;}
.tab_list_1{ margin-left:8px;}
.tab_list_2{ margin-left:41px;}
.tab_list{ position:absolute; left:0px; top:0px; width:320px;}
.tab_list .tab_item{ display:block; height:48px; float:left; background-size:contain; text-align:center; color:#000; font-family:'microsoft yahei'; font-weight:bold; font-size:16px; line-height:1.2; padding-top:5px; margin-right:-3px; -webkit-tap-highlight-color:rgba(0,0,0,0);}
.tab_list .tab_item:hover{ text-decoration:none;}

.tab_list .tab_item_1{ background-image:url(../images/tab_1_1.png); width:72px;}
.tab_list .current .tab_item_1{ background-image:url(../images/tab_1_2.png);}
.tab_list .tab_item_2{ background-image:url(../images/tab_2_1.png); width:64px;}
.tab_list .current .tab_item_2{ background-image:url(../images/tab_2_2.png);}
.tab_list .tab_item_3{ background-image:url(../images/tab_3_1.png); width:67px;}
.tab_list .current .tab_item_3{ background-image:url(../images/tab_3_2.png);}
.tab_list .tab_item_4{ background-image:url(../images/tab_4_1.png); width:53px;}
.tab_list .current .tab_item_4{ background-image:url(../images/tab_4_2.png);}
.tab_list .tab_item_5{ background-image:url(../images/tab_5_1.png); width:62px;}
.tab_list .current .tab_item_5{ background-image:url(../images/tab_5_2.png);}
.tab_list .tab_item_6{ background-image:url(../images/tab_6_1.png); width:81px;}
.tab_list .current .tab_item_6{ background-image:url(../images/tab_6_2.png);}
.tab_list .tab_item_7{ background-image:url(../images/tab_7_1.png); width:87px;}
.tab_list .current .tab_item_7{ background-image:url(../images/tab_7_2.png);}
.tab_list .tab_item_8{ background-image:url(../images/tab_8_1.png); width:79px;}
.tab_list .current .tab_item_8{ background-image:url(../images/tab_8_2.png);}

.tab_list_3{ opacity:0; pointer-events:none; -webkit-transition:opacity 0.3s 2s linear;}
.tab_list_3 .tab_item_8{ margin-left:124px; background-image:url(../images/tab_8_1.png);}

.con_wrap_2 .tab_list .tab_item_8{line-height:40px;}
.con_wrap_2 .tab_list_3 .tab_item_8{line-height:1.2;}
.con_wrap_2 .poster_wrap .stamp{ left:144px; top:28px;}
.con_wrap_3 .poster_wrap .stamp{ left:18px; top:35px;}
.con_wrap_4 .poster_wrap .stamp{ left:161px; top:40px;}


.detail_wrap{ display:block; height:336px; width:239px; background: url(../images/poster_top_bg_2.jpg) no-repeat 0 0; background-size:contain; position:absolute; left:0px; top:0px; box-shadow:-1px 1px 2px rgba(0,0,0,0.3);}
.detail_wrap .detail_title{ font-size:14px; font-family:'microsoft yahei'; padding:40px 0 10px 25px; margin:0px auto;}
.detail_wrap .detail_txt{ font-size:12px; font-family:'microsoft yahei'; margin:0px auto 10px; width:190px;}
.detail_wrap .bg,.poster_wrap .bg{ display:block; height:276px; width:239px; background:url(../images/poster_bottom_bg.jpg) no-repeat 0 0; background-size:contain; position:absolute; left:0px; bottom:0px;}
.detail_wrap .bg .repeat_bg{ width:224px; height:268px; position:absolute; top:0px; left:7px; background:url(../images/poster_repeat_bg.jpg) repeat 0 0; background-size:70px 70px;}
.detail_wrap .detail_con{ display:block; position:relative; z-index:2;}

.surrender_tips{ display:block; height:34px; width:71px; background:url(../images/surrender_tips.png) no-repeat 0 0; background-size:contain; position:absolute; left:50%; margin-left:62px; top:13px; text-indent:-9999px; overflow:hidden; opacity:0; -webkit-transition:opacity 0.3s linear; pointer-events:none; z-index:1;}
.page_angle{ position:absolute; right:-16px; top:0px; display:block; height:35px; width:97px; background:url(../images/page_angle.png) no-repeat 0 0; background-size:contain; -webkit-transform:rotate(25deg); -webkit-transform-origin:0% 0%; z-index:1; -webkit-animation:a_page_angle 1.8s linear alternate infinite;}

@-webkit-keyframes a_page_angle{
	0%{ -webkit-transform:rotate(25deg) translate(0,0) scale(1,1);}
	25%{ -webkit-transform:rotate(25deg) translate(0px,0px) scale(1,0.94);}
	50%{ -webkit-transform:rotate(25deg) translate(1px,-1px) scale(1,0.90);}
	75%{ -webkit-transform:rotate(25deg) translate(1px,-1px) scale(1,0.95);}
	100%{ -webkit-transform:rotate(25deg) translate(0,0) scale(1,1);}
}

.tear_page_wrap{ display:block; height:545px; width:410px; overflow:hidden; position:absolute; left:50%; margin-left:-159px; top:-35px; -webkit-transform:rotate(-65deg) translate(0px,0px); z-index:2; -webkit-transition:margin-left 0.3s ease,opacity 0.3s ease; opacity:1;}
.tear_page_balance{display:block; height:336px; width:239px; position:absolute; right:50px; top:40px;  -webkit-transform:rotate(65deg) translate(0px,0px);}

@-webkit-keyframes a_tear_page_wrap{
	0%{ -webkit-transform:rotate(-65deg) translate(0px,0px); opacity:1;}
	95.23%{ -webkit-transform:rotate(-65deg) translate(-400px,0px); opacity:1;}
	100%{ -webkit-transform:rotate(-65deg) translate(-400px,0px); opacity:0;}
}

@-webkit-keyframes a_tear_page_balance{
	0%{ -webkit-transform:rotate(65deg) translate(0px,0px);}
	100%{ -webkit-transform:rotate(65deg) translate(168px,-360px);}
}

.back_cover_wrap{ display:block; height:500px; width:337px; position:absolute; left:0; top:0; -webkit-transform:rotate(65deg); overflow:hidden; pointer-events:none; opacity:0;}
.back_cover{ display:block; background:/*-webkit-linear-gradient(top,#beaf96,#958976)*/ #c5b293 url(../images/watermark.png) repeat 10px 10px; background-size:105px 50px; border:1px solid #897d6a; box-shadow: -2px -2px 3px rgba(0,0,0,0.2); height:336px; width:254px; position:absolute; left:266px; top:56px; -webkit-transform:rotate(-140deg); -webkit-transform-origin:0% 0%;}

@-webkit-keyframes a_back_cover_wrap{
	0%{ -webkit-transform:rotate(65deg) translate(0px,0px); opacity:1;}
	100%{ -webkit-transform:rotate(65deg) translate(168px,-360px); opacity:1;}
}

@-webkit-keyframes a_back_cover{
	0%{ -webkit-transform:rotate(-140deg) translate(0px,0px);}
	100%{ -webkit-transform:rotate(-140deg) translate(-283px,-720px);}
}

.detail_wrap_show .surrender_tips{ opacity:1; pointer-events:auto;}

.tearing .tear_page_wrap{ -webkit-animation:a_tear_page_wrap 2.1s ease both;}
.tearing .tear_page_balance{ -webkit-animation:a_tear_page_balance 2s ease both;}
.tearing .back_cover_wrap{ -webkit-animation:a_back_cover_wrap 2s ease both;}
.tearing .back_cover{ -webkit-animation:a_back_cover 2s ease both;}
.tearing .page_angle{ opacity:0;}
.tearing .surrender_tips{ opacity:0; pointer-events:auto;}
.tearing .tab_list_1,.tearing .tab_list_2{ opacity:0; pointer-events:none;}
.tearing .tab_list_3{ opacity:1; pointer-events:auto;}
.tearing .email_connect_bg{ opacity:1;}
.tearing .arrow_up{ opacity:0;}

.wrap_after{ margin-left:150px; opacity:0; z-index:1;}
.wrap_before{ margin-left:-450px; opacity:0; z-index:1;}
.tearing .wrap_before,.tearing .wrap_after{-webkit-animation:none;}

/*.bg_hook{ display:block; height:80%; width:90%; background: url(../images/bg_hook.jpg) no-repeat 0 0; background-size:100%; position:absolute; left:50%; margin-left:-45%; top:64px;}*/

.wrap_prepare{ top:100%; opacity:0;}
.wrap_show{ top:0%; opacity:1;}
.wrap_hide{ top:-100%; opacity:0;}

.hook_down{ display:block; height:40px; width:40px; background:rgba(255,0,0,0.5); position:absolute; left:50%; bottom:0px; z-index:9; text-indent:-9999px; overflow:hidden;}
.hook_up{ display:block; height:40px; width:40px; background:rgba(255,0,0,0.5); position:absolute; left:50%; top:0px; z-index:9; text-indent:-9999px; overflow:hidden;}
.hook_left{ display:block; height:40px; width:40px; background:rgba(255,0,0,0.5); position:absolute; left:0px; top:50%; z-index:9; text-indent:-9999px; overflow:hidden;}
.hook_right{ display:block; height:40px; width:40px; background:rgba(255,0,0,0.5); position:absolute; right:0px; top:50%; z-index:9; text-indent:-9999px; overflow:hidden;}

.email_wrap{ display:block; height:100%; width:100%; overflow:hidden; position:absolute; left:0px; top:0px; background:url(../images/bg.jpg) no-repeat center 0; background-size:100% 100%;}
.email_wrap .title{ display:none;}
.email_wrap .email_link{ display:none;}
.email_connect_bg{ display:block; height:280px; width:240px; background:url(../images/email_bg.png) no-repeat 0 0; background-size:contain; position:absolute; left:50%; top:64px; margin-left:-120px; opacity:0;}

.tear_page_wrap .poster_wrap{ top:0px;}


/*5s 640x1136分辨率兼容*/
@media all and (min-height:480px){
	.poster_wrap{ top:50px;}
	.tear_page_wrap{ top:5px;}
	.tab_wrap{ bottom:20px;}
	.surrender_tips{ top:51px;}
	.email_connect_bg{ top:104px; }
	.arrow_up{ bottom:90px;}
}






